.hero-container{
  background:  #1db598;
  display: flex;
  justify-content: center;
  background-image: url("/img/splash_about.svg") ;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}


.hero-title-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title{
  margin: 100px 0px;
	font-size: 60px;
  font-weight: 600;
  color:white;
  margin-right: 35%;

}


.nearly-18000-hours {
	width: 848px;
	height: 48px;
	/*font-family: AauxNext;*/
	font-size: 36px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: 0.2px;
  color: #1db598;
  margin-bottom: 30px;
}
.talking-points-text{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px
}
.talking-points-text  li{
    margin-bottom: 30px;
}

.about-our-story-container{
  background-color:#f8fafb;

}
.about-our-story-text{
  max-width: 600px;
  color: #3c5f8d;
}
.about-our-story-content{
  max-width: 600px;
}

.talking-points-container{
  background: #f3f7fa;
}
.our-team-header{

  margin: 0px 20% 40px 20%;
  text-align: center;
}
.our-team-text{
  font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.2px;
  color: #3c5f8d;

}
.our-team-cards{
  /*background: pink;*/
  display: flex;
  /*padding-left: 10px;*/
  flex-wrap: wrap;
  justify-content: center;

}

.our-team-card{
  height:278px;
  width:252px;
  background: #fbfbfb;
  margin: 10px;
}

.our-team-card:hover .our-team-card-overlay{
  display: flex;
}

.our-team-card-overlay{
  display: none;
  position: absolute;
  background: rgba(28, 181, 152, 0.68);;
  height:278px;
  width:252px;
  flex:1;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
}

.our-team-name{
  color: white;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: 2px;
}
.our-team-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  color:#102445;
}

.select {
    border: 1px solid #ccc;
    overflow: hidden;
    height: 40px;
    width: 240px;
    position: relative;
    display: block;
}




.contact-us-container{
  background: #f2f7f9;

}
.contact-us-header{
  margin-right: 50%;
  padding: 0px 18px;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
  padding: 10px 18px;

}
.contact-us-input{
  /*height: 60px;*/
  box-sizing: content-box;
  padding: 20px;
  border-radius: 3px;
  background-color: #fbfcfd;
  border: solid 1.5px #eaf2f6;
  outline: none;
  color: #3c5f8d;
  letter-spacing: 1.25px;
  font-weight: 500;
  font-family: Montserrat;
  margin: 10px 18px;
}

.rm-appearance{
  -webkit-appearance: none;
  -moz-appearance: none;

}

.contact-us-input::placeholder{color: #3c5f8d;}

.contact-us-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact-us-col{
  flex: 1;
  margin: 10px 18px;
}
