.blog-hero-container{
  height: 528px;



}

.blog-hero-img-container{
  position: absolute;
  right: 0px;
  top: 69px;
}

@media (max-width: 1050px) {
  .blog-hero-img-overlay{
    width: 660px;
    height:460px ;
    position: absolute;
    right: 0px;
    top: 69px;
    background:  rgba(255, 255, 255, 0.8);
  }
}

.blog-hero-content{
  position: relative;
  z-index: 1;
  width: 45%;
  margin-left: 12%;

}

.blog-list-container{
  background: #f2f7f9;
}

.blog-list-dropdown-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog-list-show{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.blog-cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-card-featured{
  width: 90%;

  margin: 15px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;
}


.blog-card:hover,
.blog-card-featured:hover{
  background: #eaf2f6;
}


.blog-card-featured-img-container{

  width: 494px;
  height: 385px;
  position: relative;
  margin: 30px;

}
.blog-card-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.blog-card-green{
background: rgba(29,181, 152, 0.68);
}

.blog-card-blue{
  background: rgba(60, 95, 141, 0.68);
}
.blog-card-light{
  background: rgba(177, 219, 222, 0.68);
}

.blog-card-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card-featured-content{

  padding: 30px;
  padding-right: 30px;
  flex: 1;

  width: 494px;
  /*margin: auto;*/
}
.blog-card-author-content{
  display: flex;
  align-items: center;
}
.blog-card{
  margin: 15px;
  background: white;
  width: 498px;

  min-height: 563px;
}
.no-img-light{
  border-top: 4px solid #cfeaec;
}
.no-img-green{
  border-top: 4px solid #1db598;
}
.no-img-blue{
  border-top: 4px solid #3c5f8d;
}


.blog-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;

}

.blog-card-img-container{

  width: 100%;
  height: 210px;
  position: relative;
}
.blog-card-content{


  width: 90%;
  height: 100%;
}

.btn-container{
  background: pink;
}
