.blog-hero-container{
  /*background: pink;*/
  height: 528px;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);


}

.blog-hero-img-container{
  position: absolute;
  right: 0px;
  top: 69px;
}

@media (max-width: 1050px) {
  .blog-hero-img-overlay{
    width: 660px;
    height:460px ;
    position: absolute;
    right: 0px;
    top: 69px;
    background:  rgba(255, 255, 255, 0.8);
  }
}

.blog-hero-content{
  position: relative;
  z-index: 1;
  width: 45%;
  margin-left: 12%;

}

.blog-list-container{
  background: #f2f7f9;
}

.blog-list-dropdown-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog-list-show{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.blog-cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-card-featured{
  width: 100%;
  min-width: 320px;
  margin: 15px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;

}

.blog-card-featured-img-container{
  min-width: 310px;
  width: 494px;
  height: 385px;
  position: relative;
  margin: 30px;

}

.blog-card-blue-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(60, 95, 141, 0.68);
  z-index: 1;

}
.blog-card-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card-featured-content{
  padding: 30px;
  padding-right: 30px;
  flex: 1;
  min-width: 310px;
  width: 494px;
  margin: auto;
}

.blog-card
