.coc-hero{
   background: #1db598;
   padding: 90px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   background-image: url("/img/splash_coc.svg") ;
   background-size: auto 80%;
   background-repeat: no-repeat;
   background-position: bottom right;

}
.coc-hero-content{
  width: 40%
}

.coc-hero-img-container{
  position: relative;
  bottom:-2px;
  left:120px;
  width: 0px;

}
