.coc-hero{
   background: #1db598;
   padding: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;


}


@media (min-width: 900px){
  .coc-hero{
    background-image: url("/img/splash_coc.svg") ;
    background-size: 40% 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .coc-hero-content{
    font-size: 38px;
      width: 45%;
  }


}
