.coc-hero{
   background: #1db598;

   display: flex;
   align-items: flex-start;
   justify-content: center;
   padding-top: 90px;

}
.coc-hero-content{
  width: 40%
}

.coc-hero-img-container{
  position: relative;
  bottom:-2px;
  left:120px;
  width: 0px;

}
