.enterprise-hero{

}

.enterprise-hero-text{
  font-family: aaux-next;
	font-size: 26px;
	font-weight: 200;
	line-height: 1.23;
	letter-spacing: 0.2px;

}

@media (min-width: 1200px) {

  .enterprise-hero{
    background:#2a4871;
    color: white;
    background-image: url("/img/splash_enterprise.svg") ;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media (max-width: 1199px) {
  .enterprise-hero{
    background:#2a4871;
    color: white;
  }
}

.enterprise-products-container{
	background: #edfdfe;

}

.enterprise-products{
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
}

.enterprise-products-offset{
  position: relative;
  top:-160px;
}

.enterprise-product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:456px;
    margin: 15px;
}




.enterprise-product-card{
  width:100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

@media (max-width: 325px) {
  .enterprise-product-card{
    width:310px;
  	color: white;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  }
}

.enterprise-img-offset-ce{
  position: relative;
  top:-70px;
  height:0px;
  margin-bottom: 250px;

}
.enterprise-img-offset-ee{
  position: relative;
  top:-40px;
  height:0px;
  margin-bottom: 250px;

}
.enterprise-product-header{
  width:90%;
  margin: auto;
}
.enterprise-ce{
	background: #1db598;
}
.enterprise-ee{
	background: #2a4871;
}
.enterprise-features{
  width: 100%;
}


.enterprise-feature{
  padding: 0px 20px;
	align-self: flex-start;
	border-bottom: 2px solid rgba(254, 254, 254, 0.13);

}

.enterprise-feature i {
	margin: 15px 3%;
}

.enterprise-nonfeature{
	background-color: rgba(237, 253, 254, 0.10);
  height:46px;
  border-bottom: 2px solid rgba(254, 254, 254, 0.13);

}

.enterprise-btn-container{
  color: #2a4871;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/

}
