footer{
  background-color: #2a4871;
  color:white;
}
footer a{
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  font-weight: 300;
}

footer a:hover{
  color: #e4eff4;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

@media (max-width: 500px) {
  .footer-install-container{
    display: none;
  }
}


.brand{
  flex: 1;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links{
  flex:4;

  min-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category{
  min-width: 133px;
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.category-header{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.footer-btn-container{
  display: flex;
  flex:1;


}
.footer-learn-more{
  flex: 1;
  min-width: 290px;
  text-align: center;
  font-family: Montserrat;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.2px;
}
.footer-form{
  flex: 4;
  min-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-input{
  min-width: 290px;
  background: #102445;
  outline: none;
  color: #f2f7f9;
  padding:24px;
  font-family: Montserrat;
  flex: 4;
  height: 60px;
  border-radius: 3px;
  background-color: #1c314e;
  border: solid 1.5px #102445;

}
.footer-input::placeholder{
  color: white; 
}

.footer-icons{
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.legal a{
  font-size: 10px;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-decoration: underline;
}


.footer-icons a{
  font-size: 18.6px;
}
