@import 'typography.css';
@import "home.css";
@import "about.css";
@import "enterprise.css";
@import "community.css";
@import "coc.css";
@import "blog.css";
@import "blog-single.css";
@import "docs.css";
@import "legal.css";

.white{color: white;}
.dropdown-btn{

  padding-bottom: 5px;
  padding-top: 20px;
  border-radius: 3px;
  background-color: #fbfcfd;
  border: solid 2px #eaf2f6;
  outline: none;
  color: #3c5f8d;
  letter-spacing: 1.25px;
  font-weight: 600;
}
.dropdown-toggle::after {
    display:none
}

.inner-dropdown{

  width: 137px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid 2px #e4eff4;
}

.flex-container{
  justify-content: space-around;
}
.light-text{
  color: white;
}
.input-light{
  height: 60px;
  border-radius: 3px;
  background-color: #fbfcfd;
  border: solid 1.5px #eaf2f6;
  outline: none;
  color: #3c5f8d;
  letter-spacing: 1.25px;
  font-weight: 500;
  padding: 13px;
  font-family: Montserrat;
  width: 300px;

}
.input-light::placeholder{
  color: #3c5f8d;
}
.page-container{
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px  0px 0px rgba(0,0,0,0.1);
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}

footer{
  background-color: #2a4871;
  color:white;
}
.footer-icon > a{
  color: white;
}


.btn-pilosa{
  font-family: "aaux-next" !important;
  letter-spacing: 1.5px;
  padding: 0.9rem 2rem;
  font-size: 14px;
}


.footer-col-header{
  font-family: Montserrat;
  font-weight:500;
  color: white;
  margin-bottom: 4px;
}

.header-control{
  display: flex;
  justify-content: center;
}

.nav-control{
  width: 1300px;
}

.footer-col-link{
  font-family: Montserrat;
  font-size: 14px;
  font-weight:200;
  color: white;
  text-decoration: none;
  margin-bottom: 4px;
}

.footer-col-header:hover{
  color: #b1dbde;
  text-decoration: none;
}


.footer-col-link:hover{
  color: #b1dbde;
  text-decoration: none;
}

.footer-cta-a {
  font-family: Montserrat;
  color: white;
  display: inline-flex;
  /*width: 50%;*/
}

.footer-cta-a:hover{color: white}
.footer-cta-a:link{color: white}
.footer-cta-a:active{color: white}

.footer-container-input{
    width: 75%;
}
.footer-input{

  background: #102445;
  outline: none;
  border: transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #f2f7f9;
  padding:24px;
  font-family: Montserrat;
  width: 50%;

}

.footer-input::placeholder{
  color: #e4eff4;
}

.footer-input-btn-container{
  width: 50%;
  background-color: #102445;
  padding:12px;
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer-legal{
  color:#e4eff4;
  font-family: Montserrat;
  font-size: 12px;
}
.footer-icon{
  font-size: 24px;
  color:white;
}
.footer-legal-link{
  color: #e4eff4;
  text-decoration: underline;
}

.footer-legal-link:hover{color:white;}
.footer-legal-link:link{color:white;}
.footer-legal-link:active{color:white;}
