.uc-hero{
  background: #3c5f8d;
  background-image: url("/img/splash_use_cases.png") ;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 500px;
  padding: 10px;
  position: relative;
}
.uc-hero-text{
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #ffffff;
}
@media (max-width: 1099px){
  .resonsive-text-white{
    font-family: 'aaux-next';
    font-weight: 600;
    font-size: 38px;
  	line-height: 1.11;
  	letter-spacing: 0.2px;
  	color: #ffffff;
  }
  .uc-hero-overlay{
    background: rgba(60, 95, 141, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .uc-hero-header{
    /*background: pink;*/
    margin: 25% 8% 25% 8%;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 1100px){
  .resonsive-text-white{
    font-family: 'aaux-next';
    font-size: 110px;
    font-weight: 600;
    line-height: 1.05;
    line-height: 1.05;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .uc-hero-header{
    margin: 6% 48% 2% 13%;
    position: relative;
    z-index: 2;
  }
}

.page-icon{
  background: #1db598;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;

}
.page-icon a{
  color: white;
}
.pagination-container{

  display: flex;
  align-items: center;
  justify-content: space-between;
    width: 30%;
}

.pagination-numbers a{

  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 9px;

}
