.single-hero-container{
  height: 500px;
  width: 100%;
  position: relative;
}



.single-hero-overlay,
.single-hero-header,
.single-hero-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.single-hero-overlay{
    z-index: 1;
}


.single-hero-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    text-align: center;
    padding: 15px;
}

@media (max-width: 1050px) {
    .single-hero-header h1 {
        font-size: 50px;
    }
}

.single-body-content {
    font-weight: 300;
    letter-spacing: 0.25px;
}

.single-body-content b {
    font-weight: 600;
}

.single-body-content a {
    font-weight: 500;
}
.single-body-content a:hover {
    text-decoration: underline;
}


.single-body-content h1{
  font-size: 110px;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: 0.2px;
  color: #102445;
  margin-bottom: 30px;
}
.single-body-content h2{
  font-size: 65px;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: 0.2px;
  color: #102445;
  margin-bottom: 20px;
}
.single-body-content h3{
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.2px;
  color: #102445;
  margin-bottom: 20px;
}
.single-body-content h4{
  font-size: 26px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.2px;
  color: #102445;
  margin-bottom: 20px;
}
.single-body-content h5{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 0.2px;
  color: #102445;
  margin-bottom: 20px;
}

.single-body-content b,strong {
    font-weight: 500;
}

.single-body-content img{
  width: 100%;
}

.single-body-content .blog-card-author-content img{
  width: auto;
}

.single-body-content pre{
  margin: 30px 0px;
  padding: 10px;
  background-color: #edf9f7;
	border: solid 0.5px #b4d7d2;
  font-family: RobotoMono;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:#3c5f8d;
}
.single-body-content ul,
.single-body-content ol{
  -margin-before: 0em;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  font-family: Montserrat;
  margin-bottom: 16px;
  margin-bottom: 16px;
}
.single-body-content li{
  padding-left: 10px;
}

.single-body-content ol  p{
  margin-bottom: 0px;
}
.single-body-content ol  p ~ p{
  font-weight: 400;
  margin-bottom: 20px;
}
.single-body-content table{
	border: solid 0.5px #e0e0e0;
  width: 100%;
  margin-bottom: 30px;
  /*color:#3c5f8d;*/
}
.single-body-content th {

  font-size: 14px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 2px;
  color: #102445;
  text-transform: uppercase;
  padding: 11px  12px;
  background-color: white;

}
.single-body-content tr{
	border: solid 0.5px #e0e0e0;
}
.single-body-content tr:nth-child(odd) {
    background-color: #f2f7f9;
}
.single-body-content td {
    padding: 8px  12px;
    white-space: nowrap;
}
.single-body-content blockquote>p {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #1db598;
    margin: 30px;
}

.single-body-content .note{
  border-radius: 2px;
  background-color: #f8fafb;
  border: solid 0.5px #d8d8d8;
  border-left: solid 4px #3c5e8c;
  padding: 26px;
  margin-bottom: 20px;
}
.single-body-content .note :last-child{
    margin-bottom: 0;
}

.single-body-content .warning{
  border-radius: 2px;
  background-color: rgba(255, 43, 43, 0.1);
  border: solid 0.5px #d8d8d8;
  border-left: solid 4px #ff2b2b;
  padding: 26px;
  margin-bottom: 20px;
}
.single-body-content .warning :last-child{
    margin-bottom: 0;
}


.sticky-social{
  margin-right: 69px;
  height: 200px;
  position: sticky;
  top: -1px;
}

@media (max-width: 1050px) {
  .sticky-social{display: none;}
}


.sticky-social-icons{

  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.sticky-social-icon{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
}

.twitter-color{
  background: #1da1f2;
}

.linkedin-color{
  background: #0084bf;
}

.fb-color{
  background: #3b5998;
}

.blue-overlay{
  background: rgba(60, 95, 141, 0.68);
}
.green-overlay{
  background: rgba(29,181, 152, 0.68);
}
.light-overlay{
  background: rgba(177, 219, 222, 0.68);
}

.other-posts-container{
  background: #f2f7f9;
}

.other-posts-header{
  background: pink;
  margin-right: 30%;
}
