@import 'typography.css';
/*@import "home.css";*/
/*@import "footer.css";*/
@import "about.css";
@import "enterprise.css";
@import "community.css";
@import "coc.css";
@import "blog.css";
@import "blog-single.css";
@import "docs.css";
@import "legal.css";
@import "fourOhfour.css";
@import "use-cases.css";
@import "careers.css";
@import "press.css";

.white{color: white;}
.dropdown-btn{

  padding-bottom: 5px;
  padding-top: 20px;
  border-radius: 3px;
  background-color: #fbfcfd;
  border: solid 2px #eaf2f6;
  outline: none;
  color: #3c5f8d;
  letter-spacing: 1.25px;
  font-weight: 600;
}
.dropdown-toggle::after {
    display:none
}

.inner-dropdown{

  width: 137px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid 2px #e4eff4;
}


.flex-container{
  justify-content: space-around;
}
.light-text{
  color: white;
}
.input-light{
  height: 60px;
  border-radius: 3px;
  background-color: #fbfcfd;
  border: solid 1.5px #eaf2f6;
  outline: none;
  color: #3c5f8d;
  letter-spacing: 1.25px;
  font-weight: 500;
  padding: 13px;
  font-family: Montserrat;
}
.input-light::placeholder{
  color: #3c5f8d;
}
.page-container{
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px  0px 0px rgba(0,0,0,0.1);
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}




.btn-pilosa{
  font-family: "aaux-next" !important;
  letter-spacing: 1.5px;
  padding: 0.9rem 2rem;
  font-size: 16px;
  font-weight: 600;
}

.lang-pane {
    display: none;
}
.lang-pane-curl {
    display: block;
}
.lang-btn {
    text-transform: capitalize;
}
.lang-btn-active {
    color: #1DB598;
}


.header-control{
  display: flex;
  justify-content: center;
}

.nav-control{
  width: 1300px;
}


footer{
  background-color: #2a4871;
  color:white;
}
footer a{
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  font-weight: 300;

}

footer a:hover{
  color: #e4eff4;
}

.footer-row{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .footer-install-container{
    display: none;
  }
}


.brand{
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.category{
  flex-wrap: wrap;
  width: 135px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.category-header{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;

}
.footer-btn-container{
  display: flex;
}
.footer-learn-more{
  width: 290px;
  text-align: center;
  font-family: Montserrat;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.2px;
  align-self: center;
}
.footer-form{

  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-input{
  width: 290px;
  background: #102445;
  outline: none;
  color: #f2f7f9;
  padding:24px;
  font-family: Montserrat;
  height: 60px;
  border-radius: 3px;
  background-color: #1c314e;
  border: solid 1.5px #102445;

}
.footer-input::placeholder{
  color: white;
}

.footer-icons{
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.legal a{
  font-size: 10px;
  /*line-height: 2.4;*/
  letter-spacing: 0.2px;
  text-decoration: underline;

}


.footer-icons a{
  font-size: 18.6px;
}


@media (min-width: 1199px) {
  .home-hero-header{
    font-size: 60px;
  }
  .home-hero-img-responsive{
    display: none;
  }
  .home-hero-content{
      padding: 90px 0px;
      width: 50%;
  }
  .home-hero-text{
    margin-right: 40%;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .home-hero-img-container{
    display: none;
  }
  .home-hero-img-responsive{
    display: flex;
  }
  .home-hero-header{
    /*font-size: 65px;*/
    font-size: 50px;
    max-width: 80%;
  }
  .home-hero-content{
    text-align: left;
    padding-bottom: 20px;
    width: 100%;
  }
  .home-hero-text{
    margin-right: 0%;
  }
}

.home-hero{
  background-color: #f2f7f9;
}

.home-hero-img-container{
  position: relative;
}




.home-hero-img{
  display: flex;
  position:absolute;
}

.home-hero-content{
  position: relative;

  z-index: 1;
}





/*call to action */

.home-cta{
  background: #102445;
  color: white;
}

/*concepts */

@media (min-width: 1199px) {

  .concepts-img-container:{
    display: block;
  }
  .concepts-card-container{
    margin-left: 25%;
  }
}

@media (max-width: 1200px) {
  .concepts-img-container{
    display: none;
  }
}



.home-concepts{
  color: #e4eff4;
  background-color: #2a4871;

}

.concepts-img-container{
  position: relative;
  width:0;
  height:0;
  left:0px;
  top:100px;
}



.concepts-card-container{
  position: relative;
  z-index: 1;

  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 200;

}

.card-col-1{
  margin-bottom: -20px;
}

.home-concept{
  margin: 20px 10px;
  width:300px;
  height: 170px;
}







.use-cases-container{
  color: #102445;
  background-color: #f2f7f9;
}




.use-cases-text{
  color: #3c5f8d;
}

.use-cases-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width:100%;
}
.use-cases-card{
  background: white;
  display: flex;
  flex-direction: column;

  width:556px;
  min-height: 494px;
  margin: 13px;
  border-radius: 3px;
  padding: 25px;
  justify-content: space-between;
}

/*
.use-cases-card:hover{
  background: #eaf2f6;
}
*/
.use-cases-card-img{
  display: flex;
  justify-content: flex-end;

}
.use-cases-icon-container{
  background: #f2f7f9;
  border-radius: 50%;
}
.use-cases-card-title-cont{
  display: flex;
  align-items: flex-end;
  height: 65px;
}



.use-cases-card-arrow{
  font-size: 30px;
  color: #2a4871;
}

.use-cases-button{
  margin-top: 12px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.oscon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oscon-content{
  position: relative;
  z-index: 1;
  width: 55%;
  text-align: center;
}

.oscon-text{
  color: #3c5f8d;
  margin: 30px;
}

.oscon-img-container{
  position: absolute;
  right: 0px;
}


@media (max-width: 1050px) {
  .oscon-img-overlay{
    width: 660px;
    height:290px;
    position: absolute;
    right: 0px;
    background:  rgba(255, 255, 255, 0.8);
  }
}

.get-more-container{
  background: #cfeaec;
}

.get-more-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-more-col-1{
  /*margin-left: 5%;*/
  background: pink;
  width: 320px;
  flex:2;
}

.get-more-col-2{
  width: 390px;
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}
.get-more-text{
  color: #3c5f8d;
}

.home-whitepaper-icon {
    width:200px
}

.home-whitepaper {
  margin: 50px 50px;
}

.the-pilosa {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 600;
    color: #102445;
    margin-left: 20px;
}

.technical-white-paper {
    font-size: 80px;
    color: #102445;
    margin-top: -30px;
    margin-left: 20px;
}

.btn-download-white-paper {
    margin-left: 20px;
    margin-top: 30px;
}

@media (max-width: 1050px) {
  .technical-white-paper{
      font-size: 50px;
      line-height: 50px;
      margin-top: 0px;
      margin-bottom: 10px;
  }
}
