{{ partial "header.html" . }}

<div class="page-container">

  <div class="single-hero-container">


    <div class="single-hero-img">
        <img style='object-fit: cover;'  height='500px'  width='100%'  src="{{ .Params.image }}" alt=""/>
    </div>

    <div class="single-hero-overlay blue-overlay"></div>
    <div class="single-hero-header">
      <h1 class="h-1-white-responsive mb-4">{{ .Title }}</h1>
    </div>
  </div>

  <div class="single-body-container py-5  row justify-content-center">
    <div class="sticky-social pt-5">
      <div class="sticky-social-icons">
        <div class="sticky-social-icon twitter-color">
            <a href="https://twitter.com/home?status={{ .Title | urlquery }}%20{{ .Permalink | urlquery }}">
            <i class="fa fa-twitter white" aria-hidden="true"></i>
          </a>
        </div>
        <div class="sticky-social-icon linkedin-color">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | urlquery }}&title={{ .Title | urlquery }}&summary={{ .Summary | plainify | urlquery }}&source=">
            <i class="fa fa-linkedin white" aria-hidden="true"></i>
          </a>
        </div>
        <div class="sticky-social-icon fb-color">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlquery }}">
            <i class="fa fa-facebook white" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="single-body-content col-md-6 mx-3">

      {{ .Content }}

    </div>
</div>

  <div class="get-more-container ">
    <div class="container py-5">
      <div class="get-more-content align-items-center">
        <div class="col-lg">
          <h2 class="h-2-blue">
            Get even more from Pilosa
          </h2>
          <p class="get-more-text">
            Stay updated on our progress and upcoming events.
        </div>

          <form class="col-lg" action='//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a' method='POST'>
            <input class='input-light' type="email" name='EMAIL' placeholder="Your email">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="btn-pilosa btn btn-success ">Sign up</button>
          </form>

      </div>
    </div>
  </div>

</div>


</div>
{{ partial "footer.html" . }}
