<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ if eq .URL "/" }}Pilosa &#45; Home{{ else }}{{ .Title }} &#45; Pilosa{{ end }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{{ .Site.Params.title }}">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="keywords" content="Pilosa,index,bitmap index,database,distributed database,distributed index,distributed bitmap index,queries,big data">
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL}}{{ else }}{{ (print "/img/" .Site.Params.logo_medium_png) | absURL }}{{ end }}"/>
    <meta property="og:site_name" content="{{ .Site.Params.title }}">
    <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"/>
    <meta property="og:app_id" content="238103373333819" />
    <meta name="twitter:site" content="@Slothware" />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/css/bootstrap-pilosa.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto+Mono" rel="stylesheet">
    <script src="https://use.typekit.net/xyn6sfs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <!--<link rel="apple-touch-icon" href="/img/{{ .Site.Params.logo }}"/>-->
    <link href="https://www.pilosa.com/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.title }}" />
    <link href="https://www.pilosa.com/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Params.title }}" />
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '790180054464967'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=790180054464967&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript">
     function showTabs(lang) {
         els = document.getElementsByClassName("lang-pane")
         for (var i = 0; i < els.length; i++) {
             els[i].style.display = "none";
         }
         els = document.getElementsByClassName("lang-pane-" + lang)
         for (var i = 0; i < els.length; i++) {
             els[i].style.display = "block";
         }
         els = document.getElementsByClassName("lang-btn")
         for (var i = 0; i < els.length; i++) {
             els[i].classList.remove("lang-btn-active");
         }
         els = document.getElementsByClassName("lang-btn-" + lang)
         for (var i = 0; i < els.length; i++) {
             els[i].classList.add("lang-btn-active");
         }
     }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
  </head>
  <body style='width: 100% ;margin:auto; max-width:1366px' class='' >
    <header >

      <nav class="container navbar navbar-toggleable-md navbar-light mt-4 mb-3 d-flex" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand " href="/">
          <img  height='35px'  id="logo" src="/img/{{ .Site.Params.logo }}" alt="Insanely Fast Queries on Really Big Data" title="Pilosa logo" class="d-inline-block align-center">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {{ if eq .Section "about" }} active{{ end }}">
              <a href="/about/" class="nav-link">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ if eq .Section "use-cases" }} active{{ end }}">
              <a href="/use-cases/" class="nav-link">Use Cases</a>
            </li>
            <li class="nav-item {{ if eq .Section "docs" }} active{{ end }}">
              <a href="/docs/introduction/" class="nav-link">Docs</a>
            </li>
            <li class="nav-item {{ if eq .Section "community" }} active{{ end }}">
              <a href="/community/" class="nav-link">Community</a>
            </li>
            <li class="nav-item {{ if eq .Section "enterprise" }} active{{ end }}">
              <a href="/enterprise/" class="nav-link">Enterprise</a>
            </li>
            <li class="nav-item {{ if eq .Section "blog" }} active{{ end }}">
              <a href="/blog/" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/about/#contact" class="nav-link">Contact</a>
            </li>
          </ul>
          <!--
          <a class='ml-3 align-self-center' href="/">
            <i class="fa fa-search text-primary" aria-hidden="true"></i>
          </a>
          -->
        </div>
      </nav>
    </header>
