
{{ partial "header.html" . }}
<div class="page-container">
  <div  class='home-hero pt-3 '>

    <div class='home-hero-img-container'>
      <img height='550px' width='100%' class="home-hero-img"src="/img/{{ .Site.Params.splash_home }}" alt="Pilosa home splash illustration">
    </div>
    <div class="container ">
      <div  class='home-hero-content'>
          <h1 class='mb-4  home-hero-header'>Insanely Fast Queries on Really Big Data</h1>
        <p class="mb-5 home-hero-text">
          Pilosa is an open source, distributed bitmap index that dramatically accelerates queries across multiple, massive data sets.
        </p>
        <a class="btn-pilosa btn btn-danger" href="/docs/installation/" role="button">Install Pilosa</a>
      </div>
      <div class='home-hero-img-responsive'>
        <img width='100%' height='233px;' src="/img/{{ .Site.Params.splash_home3 }}" alt="Pilosa home splash illustration">
      </div>
    </div>
  </div>


  <div  class='home-cta'>
    <div class=" container  py-5 ">
      <div class="row justify-content-center ">
        <div class="col-lg">
            <br/> <br/> <!-- TODO: Use CSS instead of BR hack for vertical alignment -->
        <h2 class='h-2-white col-10'>No More Compromises.</h2>
        <!--
        <h3 class="h-3-red">
          Watch the video
          <i  class="fa fa-play-circle" aria-hidden="true"></i>
        </h3>
        -->
      </div>
      <div class='col-lg mt-3'>
        <p>
        Data volume is growing exponentially, but productivity gains are still lagging behind. It's time to stop making compromises that are slowing you down – gone are the days of cumbersome pre-computation, batching, caching, and sampling.
        </p>
        <p>
          Enterprises need to be able to understand and act on data instantly, no matter how complex, fragmented, or large it is.
        </p>
        <p>
          Pilosa abstracts the index from data storage, optimizes it for massive scale, and makes your data instantly queryable and retrievable.
        </p>
      </div>
    </div>
  </div>
  </div>

  <!-- WHITE PAPER
  <div class="home-whitepaper">
      <img src="/img/{{ .Site.Params.pilosa_docs }}" alt="Glasses icon" class="home-whitepaper-icon" width="200px">
      <div class="the-pilosa">The Pilosa</div>
      <div class="technical-white-paper">Technical White Paper</div>
      <a class="btn-pilosa btn btn-danger btn-download-white-paper" href="/pdf/PILOSA - Technical White Paper.pdf" role="button">Download Now</a>
  </div>
  -->

  <div class="home-concepts">
    <div class='concepts-img-container' >

      <img  height='496px'  src="/img/{{ .Site.Params.concepts }}" alt='Concepts illustration'>
    </div>
    <div  class="py-5  container d-flex flex-wrap ">



      <div  class="concepts-card-container">
          <div class="home-concept">
            <h3 class="h-3-bold-green">
              Real-Time Accessibility
            </h3>
            <p>
            Pilosa makes your data instantly accessible without the addition of expensive, exotic hardware. No longer is your data locked in a data lake or fragmented across multiple data sources.
            </p>
          </div>
          <div class="home-concept">
            <h3 class="h-3-bold-green">
              Continuous Monitoring
            </h3>
            <p>
              The Pilosa solution remains up-to-date and highly responsive at all times; allowing you to monitor continuous streams of data without placing undue burdens on your existing data store.
            </p>
          </div>
          <div class="home-concept">
            <h3 class="h-3-bold-green">
                Unlimited Federation
            </h3>
            <p>
              Pilosa eliminates the need for joins by combining data from multiple distributed data stores into a single index, regardless of size or location.
            </p>
          </div>
          <div class="home-concept">
            <h3 class="h-3-bold-green">
              Artificial Intelligence
            </h3>
            <p >
              Pilosa allows for algorithmic plugins, thereby paving the way for artificial intelligence and machine learning algorithms.
            </p>
          </div>
          <div class="home-concept">
            <h3 class="h-3-bold-green">
              High Cardinality
            </h3>
            <p>
              Pilosa is built for massive volume. It indexes up to 2^64 objects and is practically unbounded in the number of attributes.
            </p>
          </div>
          <div class="home-concept">
            <h3 class="h-3-bold-green">
              Reduce Costs
            </h3>
            <p>
              Pilosa can easily integrate into existing architectures and is simple to maintain. With it's minimal footprint in memory, the cost-per-query and cost-per-index is substantially lower than other solutions.
            </p>
          </div>
      </div>
    </div>
  </div>

  <div class="use-cases-container ">
    <div  class=" py-5 ">
    <div class="container mt-5">
      <div   class="row">
        <div class="use-cases-header  col-lg-7 col-md-12 mx-3">
          <h2 class="h-2-blue">Use Cases</h2>
          <p >
            Learn how Pilosa executes real-time, ad-hoc queries to solve existing data problems &mdash; without pre-computation. 
          </p>
        </div>
      </div>
    </div>

      <div class="use-cases-cards">

        <a href="/use-cases/chemical-similarity-and-the-tanimoto-algorithm/" class="use-cases-card-a unstyled-a" style="display:block">
        <div  class="use-cases-card">

          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_bioinformatics }}" alt="Chemical similarity use case abstract icon" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
                Chemical Similarity and the Tanimoto Algorithm
            </h3>


          <h6 class="h-6-caps">Bioinformatics</h6>

          <p >
          Chemical similarity is essential to pharmaceutical development. Running Tanimoto algorithms over Pilosa clusters allows researchers to conduct exhaustive searches of existing structures to identify target chemicals in seconds -- accelerating drug development rapidly, while driving down cost.
          </p>
          <div  class="use-cases-card-arrow ">
            &rarr;
          </div>

        </div>
        </a>
        <a href="/use-cases/monitoring-network-traffic/" class="use-cases-card-a unstyled-a" style="display:block">
        <div class="use-cases-card">
          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_info_security }}" alt="Network traffic use case abstract icon" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
              Monitoring Network Traffic
            </h3>

          <h6 class="h-6-caps">Network Security</h6>
          <p >
          Modern network attacks require an increasingly complex infrastructure of intrusion prevention, creating vast datastores that continue to grow. Layering Pilosa atop existing security solutions allows us to analyze high-volume network data and even predict network intrusions.
          </p>
          <div class="use-cases-card-arrow">
            &rarr;
          </div>
        </div>
        </a>
      </div>

      <div class="use-cases-button">
        <a class="btn-pilosa btn btn-primary" href="/use-cases/" role="button">More use cases</a>
      </div>
    </div>
  </div>

  <!-- Events page link
  <div class="oscon-container py-5 my-4 ">
    <div class='oscon-img-container'>
      <img width='300px' src="/img/{{ .Site.Params.badge }}" alt="Sloth hand holding conference badge">
    </div>
    <div class='oscon-img-overlay'></div>

    <div class="oscon-content">
      <h2 class="h-2-blue">Say hello at Gophercon!</h2>
      <p class='oscon-text'>Pilosa was written in Go. Of course we will be at Gophercon.</p>
      <a class="btn-pilosa btn btn-primary" href="/community/#events" role="button">More events</a>
    </div>
  </div>
  -->




  <div class="our-story-container ">
    <div class="container py-5 d-flex flex-wrap ">
      <div class="our-story-img">
        <img height='275px;' src="/img/{{ .Site.Params.animation_home_ourstory }}" alt="Our story illustration">
      </div>
      <div class="our-story-content">
        <h2 class="h-2-white">Our story</h2>
        <p >
          Pilosa was founded in 2017 when the engineering team at Umbel, a data management platform, was challenged with creating a scalable way to run adhoc queries to group and sort massive volumes of data in real-time. After three years of internal testing, we moved to open source with a commitment to unlock the power of data science for everyone.
        </p>
        <a class="btn-pilosa btn btn-success" href="/about/" role="button">More about us</a>
      </div>

    </div>
  </div>


  <div class="get-more-container-light">
    <div class="container py-5">
      <div class="get-more-content align-items-center">
        <div class="col-lg">
          <h2 class="h-2-blue">
            Get even more Pilosa.
          </h2>
          <p class="get-more-text">
          Stay updated on our progress and upcoming events.
        </div>

          <form class="col-lg"  action="//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a" method="post">
            <input class='input-light' type="email" name='EMAIL'  placeholder="Your email">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="btn-pilosa btn btn-success ">Sign up</button>
          </form>

      </div>
    </div>
  </div>


</div>


{{ partial "footer.html" . }}
