<footer   >
  <div  class='container p-5' >
    <div class="footer-row">
      <div  class='brand mb-4'>
        <img width='150px' src="/img/{{ .Site.Params.logo_white }}" alt="{{ .Site.Params.subtitle }}">
        <div class="footer-install-container">
          <button  type="button" class="btn-pilosa btn btn-info mt-4 col">Install</button>
        </div>
      </div>
      <div class='links mb-4'>
        <div class="category">
          <a class="category-header" href="/about/"> Company</a>
          <a  href="/about/">About</a>
          <a  href="/careers/">Careers</a>
          <a  href="/press/">Press</a>
          <a  href="/about#contact">Contact</a>
        </div>
        <div class="category">
          <a class='category-header' href="/docs/getting-started/">Get Started</a>
          <a href="/docs/install/">Install</a>
          <a href="/docs/getting-started/">Quickstart</a>
          <a href="/faq/">FAQ</a>
          <a href="/contact/">Support</a>
        </div>

        <div class="category">
          <a class='category-header' href="/docs/">Documentation</a>
          <a href="/docs/">Architecture</a>
          <a href="/docs/">API</a>
          <a href="/docs/">Deployment</a>
          <a href="/docs/">Integration</a>
        </div>

        <div class="category">
          <a class="category-header" href="/community/">Community</a>
          <a href="/community/code-of-conduct/">Blog</a>
          <a href="/blog/">Community Code</a>
          <a href="">Github</a>
          <a href="">Slack</a>
        </div>

      </div>
    </div>
    <div class="footer-row">
      <a href='' class="footer-learn-more mt-2 mb-1">Learn more about Pilosa</a>
      <form class="footer-form">
        <input class='footer-input m-2' placeholder="Your email" type="text">
        <button  type="submit" class=" btn-pilosa btn btn-success m-2">Sign up</button>
      </form>
    </div>
    <div class="footer-icons mt-3">
      <a  href="//facebook.com"><i class="fa fa-facebook-square mr-4" aria-hidden="true"></i></a>
      <a href="//twitter.com"><i class="fa fa-twitter mr-4" aria-hidden="true"></i></a>
      <a href="//linkedin.com"><i class="fa fa-linkedin-square mr-4" aria-hidden="true"></i></a>
    </div>
    <div class="footer-row legal mt-3">
      &copy;
      <a  href="/legal/ip/">Pilosa 2017 All right Reserved.</a>
      &nbsp;
      <a href="/legal/privacy/">Privacy</a>
      &nbsp;and&nbsp;
      <a href="/legal/terms-of-service/">Terms of Service</a>
      .
    </div>
  </div>


</footer>
{{ partial "_scripts.html" . }}
</body>
</html>
