<footer   >
  <div  class='container py-5' >
    <div class="footer-row ">
      <div  class='brand mb-4'>
        <a href="/"><img width='150px' src="/img/{{ .Site.Params.logo_white }}" alt="{{ .Site.Params.subtitle }}"></a>
        <div class="footer-install-container">
          <a href="/docs/installation/" class="btn-pilosa btn btn-info mt-4 col">Install</a>
        </div>
      </div>
      <div class='links mb-4'>
        <div class="category">
          <a class='category-header' href="/docs/getting-started/">Get Started</a>
          <a href="/docs/installation/">Install</a>
          <a href="/docs/getting-started/">Getting Started</a>
          <a href="/docs/faq/">FAQ</a>
          <a href="/community/#support">Support</a>
        </div>
        <div class="category">
          <a class='category-header' href="/docs/">Community</a>
          <a href="/community/code-of-conduct/">Code of Conduct</a>
          <a href="/blog/">Blog</a>
          <a href="https://github.com/pilosa/pilosa/">Github</a>
          <a href="https://twitter.com/pilosa/">Twitter</a>
        </div>
        <div class="category">
          <a class="category-header" href="/enterprise/">Product</a>
          <a href="/enterprise/">Community Edition</a>
          <a href="/enterprise/">Enterprise Edition</a>
          <a href="/use-cases/">Use Cases</a>
          <a href="/legal/ip/">Legal</a>
        </div>
        <div class="category">
          <a class="category-header" href="/about/">Company</a>
          <a  href="/about/">About</a>
          <a  href="/careers/">Careers</a>
          <a  href="/press/">Press</a>
          <a  href="/about/#contact">Contact</a>
        </div>
      </div>
    </div>
    <div  class="footer-row">
      <p class="footer-learn-more mt-2 mb-1">Learn more about Pilosa</p>
      <form class="footer-form" action="//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a" method="post">
        <input class='footer-input m-2' placeholder="Your email" name="EMAIL" type="text">
        <button  type="submit" class=" btn-pilosa btn btn-success m-2">Sign up</button>
      </form>
    </div>
    <div class="footer-icons mt-3">
      <a  href="//facebook.com"><i class="fa fa-facebook-square mr-4" aria-hidden="true"></i></a>
      <a href="//twitter.com"><i class="fa fa-twitter mr-4" aria-hidden="true"></i></a>
      <a href="//linkedin.com"><i class="fa fa-linkedin-square mr-4" aria-hidden="true"></i></a>
    </div>
    <div class="footer-row legal mt-3">
      &copy;
      <a  href="/legal/ip/">Pilosa 2017 All right Reserved.</a>
      &nbsp;
      <a href="/legal/privacy/">Privacy</a>
      &nbsp;and&nbsp;
      <a href="/legal/terms-of-service/">Terms of Service</a>
      .
    </div>
  </div>


</footer>
{{ partial "_scripts.html" . }}
</body>
</html>
