<footer  >
  <div  class="container pt-3 pl-5">
    <div class="pt-4 ml-5 mt-4 d-flex flex-wrap">
      <div  class="d-flex flex-column   mr-5 align-items-center" >
        <img width='150px' src="/img/{{ .Site.Params.logo_white }}" alt="{{ .Site.Params.subtitle }}">
        <button  type="button" class="btn-pilosa btn btn-info mt-4">Install</button>

      </div>
      <div  class=" d-flex flex-wrap  pl-4"  >
        <div class=' mt-3 mr-5 d-flex flex-column'>
          <h6  class="footer-col-header">
            <a class='footer-link' href="/company">Company</a>
          </h6>
          <p class='footer-col-p'>
            <a class='footer-link' href="/about">About</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Careers</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/press-kit">Press Kit</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Contact</a>
          </p>
        </div>

        <div class=" mt-3 mr-5 d-flex flex-column">
          <h6  class="footer-col-header">
            <a class='footer-link' href="/company">Company</a>
          </h6>
          <p class='footer-col-p'>
            <a class='footer-link' href="/install">Install</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Quickstart</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">FAQ</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Support</a>
          </p>
        </div>
        <div class=" mt-3 mr-5 d-flex">
          <h6  class="footer-col-header">Documentation</p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Architecture</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">API</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Deployment</a>
          </p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company">Integration</a>
          </p>
        </div>
        <div class=" mt-3 mr-5 d-flex flex-column">
          <h6  class="footer-col-header">Community</h6>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company"></a>
            Community Code</p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company"></a>
            Blog</p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company"></a>
            Github</p>
          <p class='footer-col-p'>
            <a class='footer-link' href="/company"></a>
            Slack</p>
        </div>
      </div>
    </div>

  </div>
</footer>
{{ partial "_scripts.html" . }}
</body>
</html>
