<div class="nav-bar">
  Getting Started
  <ul class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.docsGettingStarted }}
      <li><a href="{{ .URL }}" class='{{ if $currentNode.IsMenuCurrent "main" . }} active {{ end }}'>{{ .Name }}</a></li>
    {{ end }}
  </ul>
  Query Language
  <ul class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.docsQueryLanguage }}
      <li><a href="{{ .URL }}" class='{{ if $currentNode.IsMenuCurrent "main" . }} active {{ end }}'>{{ .Name }}</a></li>
    {{ end }}
  </ul>
  Data Model
  <ul class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.docsDataModel }}
      <li><a href="{{ .URL }}" class='{{ if $currentNode.IsMenuCurrent "main" . }} active {{ end }}'>{{ .Name }}</a></li>
    {{ end }}
  </ul>
  Plugins
  <ul class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.docsPlugins }}
      <li><a href="{{ .URL }}" class='{{ if $currentNode.IsMenuCurrent "main" . }} active {{ end }}'>{{ .Name }}</a></li>
    {{ end }}
  </ul>
  Administration 
  <ul class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.docsAdministration }}
      <li><a href="{{ .URL }}" class='{{ if $currentNode.IsMenuCurrent "main" . }} active {{ end }}'>{{ .Name }}</a></li>
    {{ end }}
  </ul>
</div>
