{{ partial "header.html" . }}
<div class="page-container">

  <div  class='hero-container'>
    <div class="container ">
      <div class='hero-title-container'>

          <h1 class='hero-title'>
            Pilosa was invented by engineers who couldn't find a solution fast enough to meet their needs.
          </h1>

      </div>

    </div>
  </div>

  <div class="about-our-story-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h2>Our Story</h2>
          <p class="about-our-story-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
      </div>
    </div>
  </div>

  <div class="talking-points-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h3 class="nearly-18000-hours">Nearly 18,000 hours and 7 patents later, Pilosa:</h3>
          <div class="row">
            <div class="col talking-points-text">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
              </ul>
            </div>
            <div class="col talking-points-text">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" our-team-container">
    <div class=" container  my-5 py-4  ">
      <div class="our-team-header">
        <h2>Our team</h2>
        <p class='our-team-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="our-team-cards">

        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
          <img src="//placehold.it/252x278" alt="">
        </div>

        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" contact-us-container">
    <div class=" container  ">
      <div class='row justify-content-center'>

        <form  class=" contact-us-form col-11 my-5 ">
          <div class="contact-us-header">

            <h2>Contact us</h2>
            <p >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdo consequat. Duis aute irure dolor in.
            </p>
          </div>
          <input placeholder="First and Last Name" type="text" class="contact-us-input" name="" value="">
          <div class="contact-us-row">
            <input placeholder="email" required type="email" class="contact-us-input contact-us-col" name="" value="">
            <input placeholder="phone"  type="phone" class="contact-us-input contact-us-col" name="" value="">
          </div>

          <select class="rm-appearance  contact-us-input" name="">
            <option value="volvo">Job Function (Optional)</option>
          </select>
          <select class="rm-appearance contact-us-input" name="">
            <option value="volvo">What can we help with?</option>
          </select>


          <textarea  rows='5' placeholder='Tell us more about how can help. (Optional)'  class='contact-us-input' name="" value=""></textarea>
          <div class='d-flex justify-content-center mt-4'>
            <button type="submit" class="btn-pilosa btn btn-success ">Send</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>



{{ partial "footer.html" . }}
