{{ partial "header.html" . }}
<div class="page-container">

  <div  class='about-hero'>
    <div class="container">
      <div class='about-title-container'>

        <h1 class='about-title'>
          Pilosa was invented by engineers who couldn't find a solution fast enough to meet their needs.
        </h1>
      </div>
    </div>
    <img style='position:absolute; right:0px;' class='about-hero-img' src="/img/{{ .Site.Params.splash_about }}" alt="">
  </div>

  </div>
</div>


{{ partial "footer.html" . }}
