{{ partial "header.html" . }}
<div class="page-container">

  <div  class='hero-container'>
    <div class="container py-4  ">
      <div class='hero-title-container py-5 my-5 '>
          <h2 class='h-2-white'>
            Pilosa was invented by engineers who couldn't find a solution fast enough to meet their needs.
          </h2>

      </div>

    </div>
  </div>

  <div class="about-our-story-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h2 class="h-2-blue mb-3">Our Story</h2>
          <p class="about-our-story-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
      </div>
    </div>
  </div>

  <div class="talking-points-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h3 class="h-3-bold-green mb-5">Nearly 18,000 hours and 7 patents later, Pilosa:</h3>
          <div class="row">
            <div class="col talking-points-text">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
              </ul>
            </div>
            <div class="col talking-points-text">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" our-team-container">
    <div class=" container  my-5 py-4  ">
      <div class="our-team-header">
        <h2 class="h-2-blue">Our team</h2>
        <p class='our-team-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="our-team-cards">

        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
          <img src="//placehold.it/252x278" alt="">
        </div>

        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">Jeffrey Brewer</p>
            <p class="our-team-title">Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  class='our-advisors-container pb-4 pt-5'>
    <div class=" container py-5">
        <div  class='row'>
          <div class="col mr-5 pr-5">
            <h3 class="h-3-blue">Our Advisors</h3>
            <p class="mr-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="col our-advisors-people">
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div  class='careers-container pb-4 pt-5'>

    <div class=" container py-5 col-6 py-5">
      <div   class='d-flex flex-column align-items-center justify-content-center'>
        <h3 class="h-3-white-center mb-4">Crazy smart. Supid fast. Have you got what it takes?</h3>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est <laborum class=""></laborum>
        </p>
        <button type="submit" class="btn-pilosa btn btn-success ">Check out our careers</button>

      </div>
    </div>
  </div>

  <div  class='press-release-container pb-4 pt-5'>
    <div class=" container  py-5 py-5">
      <div class="row justify-content-start">
        <div class="col-5 ">
          <h2 class="h-2-blue mb-4">Press releases</h2>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button type="submit" class="btn-pilosa btn btn-success ">Visit our pressroom</button>
        </div>
      </div>
    </div>
  </div>
  <div class=" contact-us-container">
    <div class=" container  ">
      <div class='row justify-content-center'>

        <form  class=" contact-us-form col-11 my-5 ">
          <div class="contact-us-header ">

            <h2 class="h-2-blue">Contact us</h2>
            <p >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdo consequat. Duis aute irure dolor in.
            </p>
          </div>
          <input placeholder="First and Last Name" type="text" class="contact-us-input" name="" value="">
          <div class="contact-us-row">
            <input placeholder="email" required type="email" class="contact-us-input contact-us-col" name="" value="">
            <input placeholder="phone"  type="phone" class="contact-us-input contact-us-col" name="" value="">
          </div>

          <select class="rm-appearance  contact-us-input" name="">
            <option >Job Function (Optional)</option>
          </select>
          <select class="rm-appearance contact-us-input" name="">
            <option >What can we help with?</option>
          </select>


          <textarea  rows='5' placeholder='Tell us more about how can help. (Optional)'  class='contact-us-input' name="" value=""></textarea>
          <div class='d-flex justify-content-center mt-4'>
            <button type="submit" class="btn-pilosa btn btn-success ">Send</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>



{{ partial "footer.html" . }}
