{{ partial "header.html" . }}

<div class="page-container">

  <div class="blog-hero-container py-5 ">
    <div class='blog-hero-img-container'>
      <img width='490px' src="/img/{{ .Site.Params.splash_blog }}" alt="Sloth handing pass">
    </div>
    <div class='blog-hero-img-overlay'></div>
    <div class="blog-hero-content mt-4">

      <h1 class="h-1-blue">Big ideas</h1>

      <h4 class="h-4-blue ">
          Follow our adventures as we make data instantly accessible to both humans and machines.
      </h4>
    </div>
  </div>

  <div class="blog-list-container py-5">

    <div class="container">
      <!--
      <div class="blog-list-dropdown-container py-4">
        <div class="blog-list-show">Show: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        <div class="dropdown">
          <button class="dropdown-btn btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class='inner-dropdown'>
              All
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
          </div>
        </div>
      </div>



      -->


    <div class="blog-cards-container">

      {{ range $key, $taxonomy := .Site.Taxonomies.featured }}{{ range $taxonomy.Pages }}
      <div class="blog-card-featured">
        <div class="blog-card-featured-img-container">
          {{ if not .Params.disable_overlay }}
            <div class="blog-card-overlay blog-card-{{ .Params.overlay_color }}"></div>
          {{ end }}

          <div class="blog-card-img">
            <img style='object-fit: cover;' width='100%' height='100%' src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
        </div>
        <div class="blog-card-featured-content mr-5">
          <h2 class="h-2-blue mb-4">
            <a class="unstyled-a" href="{{ .URL }}">{{ .Title }}</a>
          </h2>

          <h6 class="h-6-caps mb-3">Featured • {{ .Date.Format "1/2/2006" }} • {{ .ReadingTime }} min read</h6>
          <p class='mb-4'>
            {{ .Summary }}
          <div class="blog-card-author-content">
              <img class='mr-3' src="/img/{{ .Site.Params.author_06}}" alt="">
              <div class="body-bold">{{ .Params.author }}</div>
          </div>
        </div>
      </div>
      {{ end }}{{ end }}

      {{ range where .Data.Pages "Params.featured" "!=" "true" }}
      <div class="blog-card {{ if not .Params.image }}no-img-light{{ end }}">
        <div class="blog-card-container">

          {{ if .Params.image }}
          <div class="blog-card-img-container mb-4">
            <div class="blog-card-overlay blog-card-blue"></div>
            <div class="blog-card-img">
              <img style='object-fit: cover;' width='100%' height='100%' src="{{ .Params.image }}" alt="{{ .Title }}">
            </div>
          </div>
          {{ end }}

          <div class="blog-card-content">
            <h3 class="h-3-blue mb-4">
              <a class="unstyled-a" href="{{ .URL }}">{{ .Title }}</a>
            </h3>
            <h6 class="h-6-caps ">{{ .Date.Format "1/2/2006" }} • {{ .ReadingTime }} min read</h6>
            {{ if .Params.image }}
                {{ .Summary | truncate 150 " ..." }}
            {{ else }}
                {{ .Summary | truncate 500 " ..." }}
            {{ end }}
            <div class="blog-card-author-content">
                <img class='mr-3' src="/img/{{ .Site.Params.author_01}}" alt="">
                <div class="body-bold">{{ .Params.author }}</div>
            </div>
          </div>

        </div>
      </div>
      {{ end }}
    </div>

    <!--
    <center>
      <button type="button" class="btn-pilosa btn btn-primary  mt-4">View 10 more</button>
    </center>
    -->

    </div>
  </div>

</div>

{{ partial "footer.html" . }}
