{{ partial "header.html" . }}
<div class="page-container">
  <div class="career-hero">
    <div class="careers-hero-content">
      <h2 class="h-2-white-responsive mb-4">Crazy Smart. Stupid fast. Have you got what it takes?</h2>
      <button class='btn-pilosa btn btn-success'>See curent openings</button>
    </div>
  </div>
  <div class="careers-values py-5">
    <div class="careers-values-header">
      <h2 class="h-2-blue">
        Core values
      </h2>
      <p>
        One paragraph description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum eit. Adipiscing elit. Condimentum porttitor. Dolor sit amet, consectetur adipiscing.
      </p>
    </div>
    <div class="careers-values-cards">
      <div class="careers-values-card">


          <img  class='mb-5 pb-5'width='100%' src="/img/{{ .Site.Params.community_sloth }}" alt="">

          <h3 class="h-3-blue">Community</h3>
          <p>
            The dedication, contributions, and success of our community is what keeps us going. Our first and only goal is to help you master your data.
          </p>

      </div>
      <div class="careers-values-card">
        <img  class='mb-5 pb-4' width='100%' src="/img/{{ .Site.Params.speed_sloth }}" alt="">
        <h3 class="h-3-blue">Speed</h3>
        <p>
        The only slow-mover at Pilosa is our mascot, Pi. The rest of us work hard and fast to ensure the integrity of our products and the support of our community.
      </p>
      </div>
      <div class="careers-values-card">
        <img  class='mb-5 pb-3' width='100%' src="/img/{{ .Site.Params.resilience_sloth }}" alt="">
        <h3 class="h-3-blue">Resilience</h3>
        <p>
          The dedication, contributions, and success of our community is what keeps us going. Our first and only goal is to help you master your data.
        </p>
      </div>
      <div class="careers-values-card">
        <img  class='mb-5 pb-4' width='100%' src="/img/{{ .Site.Params.drive_sloth }}" alt="">
        <h3 class="h-3-blue">Drive</h3>
        <p>
          Hard work requires sacrifice. We are willing to go the distance to ensure the success of our projects, our community, and our employees.
        </p>
      </div>

    </div>
  </div>
  <div class="py-5">
    <div class="px-5">
        <h2 class="h-2-blue-center">Culture & benefits</h2>
        <p class="p-center">Our culture is more than what we do, it's who we are.</p>
    </div>
    <div class="careers-culture-cards">
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.covered }}" alt="">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Covered</h5>
            <p>
              Our people are our most important asset. That’s why we offer 100% employer-paid health insurance (medical, dental & vision).
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.inclusive }}" alt="">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Inclusive</h5>
            <p>
              We are committed to creating and maintaining a diverse environment that is friendly to all, including families of all shapes and sizes. We offer 16 weeks paid leave for new mothers, 10 weeks for new fathers, and 10 weeks for adoptive/foster parents.            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.flexible }}" alt="">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Flexible</h5>
            <p>
              We offer flexible hours and remote opportunities so that our employees can build a schedule that works for them. We also offer unlimited vacation so they can relax, unwind, and explore.
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.learning_and_growing }}" alt="">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Learning & growing</h5>
            <p>
              Knowledge drives innovation. From attending industry conferences to becoming inspirational leaders, we support our employees in their efforts to grow their skills.
           </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-fed">
            <img src="/img/{{ .Site.Params.fed }}" alt="">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-4">Fed</h5>
            <p>
              Our snack bar is filled with healthy  goodies, delicious coffee, and all-you-can-drink La Croix.
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-fit">
            <img src="/img/{{ .Site.Params.fit }}" alt="">
          </div>
          <div class='careers-culture-content mt-5 pt-1'>
            <h5 class="h-5-green mt-5 pt-5">Fit</h5>
            <p>
              Our people are our most important asset. That’s why we offer 100% employer-paid health insurance (medical, dental & vision).
            </p>
          </div>
        </div>

    </div>
  </div>
  <div class="careers-positions py-5">
    <div class="careers-positions-header mt-5">
      <h2 class="h-2-blue-center mb-4">Available postions</h2>
      <div class="careers-positions-categories">
        <div class="career-categories-container">
          <div class="careers-positions-category p-blue category-active">All</div>
          <div class="careers-positions-category p-blue">Engineering</div>
          <div class="careers-positions-category p-blue">Design</div>
          <div class="careers-positions-category p-blue">Operations</div>
          <div class="careers-positions-category p-blue">Other</div>
        </div>
      </div>
    </div>
    <div class="careers-positions-cards">
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>

    </div>
  </div>

  <div class="careers-cta">
    <div class="careers-cta-container">
      <h3 class="h-3-blue-center">Dont' see your position?</h3>
      <p class="careers-cta-text mb-4">
        One paragraph description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum porttitor molestie.
      </p>
      <button type="button"  name="button" class='btn-pilosa btn btn-success'>
        Get in touch
      </button>
    </div>
  </div>
  <div class="careers-community ">
    <div class="careers-community-header ">
      <h2 class="h-2-blue-responsive mb-4 ">Community</h2>
      <p >
        Pilosa was born and bred in Austin, TX. We’re committed to giving back to our hometown, and always looking for service projects that focus on promoting diversity in the Austin  tech community.
      </p>
    </div>
    <div class="careers-community-orgs">
        <img src="//placehold.it/264x57" alt="">
        <img src="//placehold.it/166x67" alt="">
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
