{{ partial "header.html" . }}
<div class="page-container">

  <div  class='community-hero '>
    <div class="container pt-5 mt-3">
      <div class="row">
        <div class="communty-hero-content ">
          <div class='pb-5 mb-5 mx-3'>

            <h2 class="h-2-white-responsive mb-5 ">Our Community. Let's hang.</h2>
            <a class="btn-pilosa btn btn-success" href="/community/code-of-conduct/" role="button">Community Code of Conduct</a>
          </div>


            <img class='community-hero-img' src="/img/{{ .Site.Params.splash_community }}" alt="Community splash illustration">

        </div>
      </div>
    </div>
  </div>

  <div class="community-contribute ">
    <h2 style='text-align: center' class='h-2-blue-responsive mb-4'>Contribution Guidelines</h2>
    <p class="community-contribute-text mb-4">
      Since we are an open source company, we always welcome contributions for the community. Please read our guidelines for contributing to Pilosa
    </p>
    <div>
        <!--<button type="button" class="btn-pilosa btn btn-primary m-2">Contribution Docs</button>-->
      <a href="https://github.com/pilosa/pilosa/blob/master/CONTRIBUTING.md" class="btn-pilosa btn btn-primary m-2">View Contribution Guidelines</a>
    </div>
  </div>

    <div id="support" class="community-support py-5 ">
      <div class="container ">
        <div class="row align-items-center">
        <div class="col-lg col-md-6 mb-5">

          <h2 class="h-2-blue mb-4">Get Support</h2>
          <p class="mr-5 pr-5">
            Feeling a little lost? Have a look at some of these resources and gain Sloth superpowers. Don’t hesitate to shoot us an email if you can’t find what you’re looking for.
          </p>
        </div>
        <div  class="col-lg col-md d-flex justify-content-start">
          <div class="community-support-grid">
            <div class="community-support-card1">
              <div class="community-support-icon-container mt-2 my-4">
                  <a href="/docs/getting-started/"><img  src="/img/{{ .Site.Params.pilosa_docs }}" alt="Documentation icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">Pilosa Docs</h5>
              <p>Ready to get started? Learn how to use and install Pilosa.</p>
            </div>
            <div class="community-support-card2">
              <div class="community-support-icon-container  mb-5">
                  <a href="https://github.com/pilosa/"><img src="/img/{{ .Site.Params.github }}" alt="Github icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">GitHub</h5>
              <p>Use the source, Luke.</p>

            </div>
            <div class="community-support-card3">
              <div class="community-support-icon-container my-4">
                  <a href="/about/#contact"><img src="/img/{{ .Site.Params.mail }}" alt="Contact icon" width="80"></a>
              </div>
              <h5 class="h-5-blue mb-3">Contact Us</h5>
              <p>We love hearing from you.  If you cannot find it in the docs, let us know!</p>

            </div>
            <div class="community-support-card4">
              <div class="community-support-icon-container my-4">
                <a href="http://stackoverflow.com/questions/tagged/pilosa"><img src="/img/{{ .Site.Params.stack_overflow }}" alt="Stack overflow icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">Stack Overflow</h5>
              <p>Get crowd-sourced answers to your questions on Stack Overflow.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="community-events">
      <div class="communty-events-header   mb-5">
        <h2 id="events" class="h-2-blue mb-4">Upcoming Events</h2>
        <p >
          While sloths are solitary creatures, we are not.  If you are going to be at one of these events please look us up.
        </p>
      </div>
      <div class='community-events-content'>
        <div class="community-events-cards">
            <div class="community-events-cards-container">
              <!--
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th-11th, 2017</h6>
                <p>Find us at OSCON to talk all things open source with the world premiere of Pilosa!</p>
                <a href="https://conferences.oreilly.com/oscon/oscon-tx">Get tickets</a>
              </div>
              -->
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">Gophercon</h5>
                <h6 class="h-6-caps">July 12th–15th, 2017</h6>
                <p>Pilosa was written in Go.  Of course we will be at Gophercon.</p>
                <a href="https://gophercon.com/">Get tickets</a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="community-social py-5">
      <h3 class="h-3-blue mb-4">Let's get social</h3>
      <div class="community-social-btns">
        <a href="{{ .Site.Params.twitter_url }}">
          <img src="/img/{{ .Site.Params.twitter }}" alt="Twitter icon">
        </a>
        <a href="{{ .Site.Params.linkedin_url }}">
          <img src="/img/{{ .Site.Params.linkedin }}" alt="Linkedin icon">
        </a>
        <a href="{{ .Site.Params.facebook_url }}">
          <img src="/img/{{ .Site.Params.fb }}" alt="Facebook icon">
        </a>
      </div>
    </div>

    <div class="get-more-container-light">
      <div class="container py-5">
        <div class="get-more-content align-items-center">
          <div class="col">
            <h2 class="h-2-blue">
              Get even more from Pilosa
            </h2>
            <p class="get-more-text">
              Stay updated on industry news, community events, and upcoming projects.
          </div>
          <form class="col-lg" action='//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a' method='POST'>
            <input class='input-light' type="email" name='EMAIL' placeholder="Your email">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="btn-pilosa btn btn-success ">Sign up</button>
          </form>
        </div>
      </div>
    </div>
</div>
{{ partial "footer.html" . }}
