{{ partial "header.html" . }}
<div class="page-container">

  <div  class='community-hero '>
    <div class="container pt-5 mt-3">
      <div class="row">
        <div class="communty-hero-content ">
          <div class='pb-5 mb-5'>

            <h2 class="h-2-white mb-5 ">Our Community. Let's hang.</h2>
            <a class="btn-pilosa btn btn-success" href="/community/code-of-conduct/" role="button">Community Code of Conduct</a>
          </div>


            <img class='community-hero-img' src="/img/{{ .Site.Params.splash_community }}" alt="">

        </div>
      </div>
    </div>
  </div>

  <div class="community-contribute ">
    <h2 class='h-2-blue-center mb-4'>Contribution Guidelines</h2>
    <p class="community-contribute-text mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div>
      <button type="button" class="btn-pilosa btn btn-primary m-2">Contribution Docs</button>
      <button type="button" class="btn-pilosa btn btn-primary m-2">Contribution Github</button>
    </div>
  </div>

    <div class="community-support py-5 ">
      <div class="container ">
        <div class="row align-items-center">
        <div class="col-lg col-md-6 mb-5">

          <h2 class="h-2-blue mb-4" id="support">Get Support</h2>
          <p class="mr-5 pr-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
          </p>
        </div>
        <div  class="col-lg col-md d-flex justify-content-start">
          <div class="community-support-grid">
            <div class="community-support-card1">
              <div class="community-support-icon-container mt-2 my-4">

                <img  src="/img/{{ .Site.Params.pilosa_docs }}" alt="">
              </div>
              <h5 class="h-5-blue mb-3">Pilosa Docs</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="community-support-card2">
              <div class="community-support-icon-container  mb-5">

                <img src="/img/{{ .Site.Params.github }}" alt="">
              </div>
              <h5 class="h-5-blue mb-3">GitHub</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
            <div class="community-support-card3">
              <div class="community-support-icon-container my-4">

                <img src="/img/{{ .Site.Params.slack }}" alt="">
              </div>
              <h5 class="h-5-blue mb-3">Slack</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
            <div class="community-support-card4">
              <div class="community-support-icon-container my-4">

                <img src="/img/{{ .Site.Params.stack_overflow }}" alt="">
              </div>
              <h5 class="h-5-blue mb-3">Stack Overflow</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="community-events">
      <div class="communty-events-header   mb-5">
        <h2 id="events" class="h-2-blue mb-4">Upcoming Events</h2>
        <p >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </p>
      </div>
      <div class='community-events-content'>
        <div class="community-events-cards">
            <div class="community-events-cards-container">
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th 2017</h6>
                <p>find us at OCON to talk all things open source with the world premierie of Pilosa!</p>
                <a href="">Get tickets</a>
              </div>
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th 2017</h6>
                <p>find us at OCON to talk all things open source with the world premierie of Pilosa!</p>
                <a href="">Get tickets</a>
              </div>
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th 2017</h6>
                <p>find us at OCON to talk all things open source with the world premierie of Pilosa!</p>
                <a href="">Get tickets</a>
              </div>
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th 2017</h6>
                <p>find us at OCON to talk all things open source with the world premierie of Pilosa!</p>
                <a href="">Get tickets</a>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div class="community-social py-5">
      <h3 class="h-3-blue mb-4">Let's get social</h3>
      <div class="community-social-btns">
        <a href="">
          <img src="/img/{{ .Site.Params.twitter }}" alt="">
        </a>
        <a href="">
          <img src="/img/{{ .Site.Params.linkedin }}" alt="">
        </a>
        <a href="">
          <img src="/img/{{ .Site.Params.fb }}" alt="">
        </a>
      </div>
    </div>

    <div class="get-more-container-light">
      <div class="container py-5">
        <div class="get-more-content align-items-center">
          <div class="col">
            <h2 class="h-2-blue">
              Get even more from Pilosa
            </h2>
            <p class="get-more-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>

            <form class="col">
              <input class='input-light' type="email"  placeholder="Your email">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button  type="submit" class="btn-pilosa btn btn-success ">Sign up</button>
            </form>

        </div>
      </div>
    </div>
</div>
{{ partial "footer.html" . }}
