{{ partial "header.html" . }}
<div class="page-container">

  <div  class='enterprise-hero'>
    <div class="container">
      <div class="row  justify-content-start ">
        <div class="col-lg-6 col-11  ml-5  py-5 my-4">
          <h1 class='h-1-white mb-5'>Meet the family</h1>
          <p class='enterprise-hero-text'>
            We're working on an Enterprise Edition, consectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div  class='enterprise-preview'>
    <div class="container ">
      <div class="row  justify-content-center py-5 ">
        <div class="col-lg-6 col-11 mb-5   py-5">
          <h4 class='h-4-blue mb-5 pb-5'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </h4>
        </div>
      </div>
    </div>

  <div  class='enterprise-products-container'>
    <div class="container ">
      <div class="enterprise-products enterprise-products-offset">

        <div class="enterprise-product-container mt-5">
          <div class="enterprise-product-card enterprise-ce ">
            <div class="enterprise-img-offset-ce">
              <img  src="/img/{{ .Site.Params.ce }}" alt="">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white mb-4">Community Edition</h3>
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
            </div>
            <div class="enterprise-features">

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>

            </div>
          </div>
          <div class="mx-5 mt-3">
            <button type="button" class="btn-pilosa btn btn-success ">Install Now</button>
          </div>
        </div>

        <div class="enterprise-product-container mt-5 mb-4">
          <div class="enterprise-product-card enterprise-ee ">
            <div class="enterprise-img-offset-ee">
              <img  src="/img/{{ .Site.Params.ee }}" alt="">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white mb-4"> Enterprise Edition</h3>

              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
            </div>
            <div class="enterprise-features">

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check " aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check body-green" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check body-green" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check body-green" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check body-green" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>



            </div>
          </div>
          <div class="px-5 mt-3 d-flex flex-column align-items-center">
            <button type="button" class="btn-pilosa btn btn-primary">Contact Us</button>

            <p class='body-center mt-4 mx-4'>
              <b>Enterprise Edition</b> coming soon! Contact us for more details
            </p>
          </div>

      </div>



      </div>
    </div>
  </div>


</div>



{{ partial "footer.html" . }}
