{{ partial "header.html" . }}
<div class="page-container">

  <div  class='enterprise-hero'>
    <div class="container">
      <div class="row  justify-content-start ">
        <div class="col-lg-6 col-11  ml-4  py-5 my-4">
          <h1 class='h-1-white-responsive mb-5'>Meet the family</h1>
          <p class='enterprise-hero-text'>
            We’re working on an Enterprise Edition to best fit the needs of everyone in our community.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div  class='enterprise-preview'>
    <div class="container ">
      <div class="row  justify-content-center py-5 ">
        <div class="col-lg-6 col-11 mb-5   py-5">
          <h4 class='h-4-blue mb-5 pb-5'>
            Pilosa strives to make collaboration and innovation  simple. We’re happy to offer Enterprise solutions  to those who need additional support and security, while our core technology is and always will be free and open  to the public.
          </h4>
        </div>
      </div>
    </div>

  <div  class='enterprise-products-container'>
    <div class="container ">
      <div class="enterprise-products enterprise-products-offset">

        <div class="enterprise-product-container mt-5">
          <div class="enterprise-product-card enterprise-ce ">
            <div class="enterprise-img-offset-ce">
              <img  src="/img/{{ .Site.Params.ce }}" alt="">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white-responsive mb-4">Community Edition</h3>
              <p >
                Built and maintained by the Pilosa community, PilosaCE is an open distributed bitmap index. that dramatically accelerates queries across multiple, massive data sets.
              </p>
            </div>
            <div class="enterprise-features">

              <div  class='enterprise-feature'>
                <i  class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Replication
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Algorithm Plugins
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Data Importer
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Basic Cluster Management
                </span>
              </div>

              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>

            </div>
          </div>
          <div class="mx-5 mt-3">
            <a class="btn-pilosa btn btn-success" href="/docs/installation/" role="button">Install Now</a>
          </div>
        </div>

        <div class="enterprise-product-container mt-5 mb-4">
          <div class="enterprise-product-card enterprise-ee ">
            <div class="enterprise-img-offset-ee">
              <img  src="/img/{{ .Site.Params.ee }}" alt="">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white mb-4">Enterprise Edition</h3>

              <p >
                PilosaEE uniquely empowers enterprises to develop on and securely operate against unlimited data assets while preserving strict in-memory guarantees around performance latency.
              </p>
            </div>
            <div class="enterprise-features">

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Single or multinode index
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Replication
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Algorithm Plugins
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Data Importer
                </span>
              </div>

              <div class='enterprise-feature'>
                <i  class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Advanced Cluster Management
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Data Center Awareness
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Security Features
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Support Packages
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Container Orchestration
                </span>
              </div>

            </div>
          </div>
          <div class="px-5 mt-3 d-flex flex-column align-items-center">
            <a class="btn-pilosa btn btn-primary" href="/about/#contact" role="button">Contact Us</a>

            <p class='body-center mt-4 mx-4'>
              <b>Enterprise Edition</b> coming soon! <a href="/about/#contact">Contact us</a> for more details.
            </p>
          </div>

      </div>

      <div class="body-center col-8">
          Pilosa Community Edition is licensed under the Apache License, Version 2.0.  Pilosa Enterprise Edition is licensed under a custom license.
      </div>

      </div>
    </div>
  </div>


</div>



{{ partial "footer.html" . }}
