{{ partial "header.html" . }}

<div class="page-container">

  <div class="press-hero">
    <div class="careers-hero-content">
      <h3 class="h-2-white-responsive mb-5">
        Sloth News
      </h3>
    </div>
  </div>

  <div class="press-cards py-5 ">
    <div class="press-cards-header">
      <h2 class="h-2-blue">
        Press releases
      </h2>
      <p>
        Founded in 2017, Pilosa is an open source, distributed bitmap index. We dramatically accelerate query speed across multiple, massive data sets. Our 12-person team of slothware engineers and enthusiasts is based in Austin, TX.
      </p>
    </div>
    <div class="press-cards mb-4">

      {{ range where .Data.Pages "Params.featured" "!=" "true" }}
      <div class="press-card">
        <h6 class="h-6-caps pt-5 pb-3">news • {{ .Date.Format "1/2/2006" }}</h6>
        <h3 class="h-3-blue mb-3">
          <a class="unstyled-a" href="{{ .URL }}">{{ .Title }}</a>
        </h3>
        {{ .Summary | truncate 300 " ..." }}
      </div>
      {{ end }}

    </div>
    <!--
    <div class="pagination-container">
      <div class="page-icon ml-3">
        <a href="">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      </div>
      <div class="pagination-numbers">
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
      </div>
      <div class="page-icon mr-3">
        <a href="">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    -->
  </div>
  <div class="press-cta py-5">
    <div class="press-cta-content">
      <h2 class="h-2-blue-center mb-4 ">Contact us</h2>
      <p class="p-center">
        One paragraph description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum porttitor molestie.
      </p>
      <div class='press-cta-btn-container'>
          <!--
        <button class="btn-pilosa btn btn-success">Download out presskit</button>
          -->
        &nbsp;&nbsp;&nbsp;
        <a class="btn-pilosa btn btn-success" href="mailto:press@pilosa.com">press@pilosa.com</a>
      </div>

    </div>
  </div>

</div>

{{ partial "footer.html" . }}
