{{ partial "header.html" . }}
<div class="page-container">

  <div  class='hero-container'>
    <div class="hero-container-img-overlay">

    </div>

    <div class="container py-4  ">
      <div class="hero-container-img-overlay"></div>
      <div class='hero-title-container py-5 my-5 '>
          <h2 class='h-2-responsive'>
            Pilosa was invented by engineers who couldn't find a solution fast enough to meet their needs.
          </h2>

      </div>

    </div>
  </div>

  <div class="about-our-story-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h2 class="h-2-blue mb-3">Our Story</h2>
          <p class="about-our-story-text">Pilosa was founded in 2017 with a commitment to building community-driven, open source software that unlocks the full power of data science. The software grew out of Umbel, a data management platform for sports & entertainment companies, where the engineering team was challenged to create a scalable way to run adhoc queries to group and sort massive volumes of data with efficiency and reliability.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="talking-points-container">
    <div class=" container  py-5">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <h3 class="h-3-bold-green mb-5">Some key features of Pilosa</h3>
          <div class="row">
            <div class="col talking-points-text">
              <ul>
                <li>Supports mass parallelization of large, high cardinality, ad hoc queries</li>
                <li>Scales horizontally to handle massive, unbounded datasets</li>
                <li>Allows time based sharding to capture streaming data and allow for its segmentation based on historical date/time ranges</li>
              </ul>
            </div>
            <div class="col talking-points-text">
              <ul>
                <li>Incorporates Metadata Management for rapid retrieval of key data</li>
                <li>Efficiently and securely retains all data in memory for fast, consistent queries without exorbitant costs and zero sampling</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" our-team-container">
    <div class=" container  my-5 py-4  ">
      <div class="our-team-header">
        <h2 class="h-2-blue">Our team</h2>
        <p class='our-team-text'>Based in Austin, Texas, we're the hardest working group of slothware enthusiasts you'll ever meet. Check us out!</p>
      </div>
      <div class="our-team-cards">

        {{ range $.Site.Data.team.team }}
        <div class="our-team-card">
          <div class="our-team-card-overlay">
            <p class="our-team-name">{{ .name }}</p>
            <p class="our-team-title">{{ .title }}</p>
          </div>
          <img src="/img/team/{{ .img }}" width="252" height="278" alt="{{ .name }}">
        </div>
        {{ end }}

      </div>
    </div>
  </div>

  <div  class='our-advisors-container pb-4 pt-5' style="display:none;">
    <div class=" container py-5">
        <div  class='row'>
          <div class="col mr-5 pr-5">
            <h3 class="h-3-blue">Our Advisors</h3>
            <p class="mr-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="col our-advisors-people">
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
            <div class="our-advisors-person">
              <h5 class="h-5-green">Allen Roberson</h5>
              <h6 class="h-6-caps">Advisor title</h6>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div  class='careers-container p`b-4 pt-5'>

    <div class=" container py-5 col-11 col-lg-6 py-5">
      <div   class='d-flex flex-column align-items-center justify-content-center'>
        <h3 class="h-3-white-center mb-4">Crazy smart. Stupid fast. Have you got what it takes?</h3>
        <p class="mb-4">
          We are on a mission to make all data instantly accessible to both humans and machines. If that sounds like fun, we'd love to have you join our team. Sloth enthusiasts welcome.
        </p>
        <a href="/careers/" class="btn-pilosa btn btn-success ">Check out our careers</a>

      </div>
    </div>
  </div>

  <div  class='press-release-container pb-4 pt-5'>
    <div class=" container  py-5 py-5">
      <div class="row justify-content-start">
        <div class="col-11 col-lg-5 ">
          <h2 class="h-2-blue mb-4">Press releases</h2>
          <p class="mb-4">Hungry for more? Check out our press releases to learn more about the sloths behind the curtain.</p>
          <a href="/press/" class="btn-pilosa btn btn-success">Visit our pressroom</a>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class=" contact-us-container">
    <div class=" container  ">
      <div class='row justify-content-center'>


        <form  class=" contact-us-form col-11 my-5 " action="//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="contact-us-header ">
            <h2 class="h-2-blue">Contact us</h2>
            <p >
              We're all about fast and easy queries. From community resources to enterprise solutions, we're happy to help. Just ask.
            </p>
          </div>
          <input placeholder="First and Last Name" type="text" class="contact-us-input" name="NAME" value="">
          <div class="contact-us-row">
            <input placeholder="email" required type="email" class="contact-us-input contact-us-col" name="EMAIL" value="">
            <input placeholder="phone"  type="phone" class="contact-us-input contact-us-col" name="PHONE" value="">
          </div>

          <input placeholder="Company" type="text" class="contact-us-input" name="COMPANY" value="">
          <input placeholder="Title" type="text" class="contact-us-input" name="TITLE" value="">
          <textarea  rows='5' placeholder='Tell us more about how we can help. (Optional)'  class='contact-us-input' name="COMMENT" value=""></textarea>
          <div class='d-flex justify-content-center mt-4'>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_804d9b2d65c9213cfa08eb7c3_12e90aaa9a" tabindex="-1" value=""></div>
            <button type="submit" name="subscribe" class="btn-pilosa btn btn-success ">Send</button>
          </div>
        </form>

      </div>

    </div>
  </div>
  </div>



{{ partial "footer.html" . }}
