{{ partial "header.html" . }}
<div class="page-container">
  <div class="career-hero">
    <div class="careers-hero-content">
      <h2 class="h-2-white-responsive mb-4">Crazy smart. Stupid fast. Have you got what it takes?</h2>
      <a href="#openings" class='btn-pilosa btn btn-success'>See current openings</a>
    </div>
  </div>
  <div class="careers-values py-5">
    <div class="careers-values-header">
      <h2 class="h-2-blue">
        Core values
      </h2>
      <p>
        There's a reason we do what we do, and a way we've committed to doing it. These make up our core values. We expect them to change and grow as we do, but for now, we think they're pretty accurate.
      </p>
    </div>
    <div class="careers-values-cards">
      <div class="careers-values-card">


          <img height='220px' class='mb-5' src="/img/{{ .Site.Params.community_sloth }}" alt="Community illustration">

          <h3 class="h-3-blue">Community</h3>
          <p>
            The dedication, contributions, and success of our community is what keeps us going. Our first and only goal is to help you master your data.
          </p>

      </div>
      <div class="careers-values-card">
        <img height='230px' class='mb-5'  src="/img/{{ .Site.Params.speed_sloth }}" alt="Speed illustration">
        <h3 class="h-3-blue">Speed</h3>
        <p>
        The only slow-mover at Pilosa is our mascot, Pi. The rest of us work hard and fast to ensure the integrity of our products and the support of our community.
      </p>
      </div>
      <div class="careers-values-card">
        <img height='250px' class='mb-5'  src="/img/{{ .Site.Params.resilience_sloth }}" alt="Resilience illustration">
        <h3 class="h-3-blue">Resilience</h3>
        <p>
        We believe that success comes to those who work for it, so we never shy away from a challenge. We will do whatever it takes to solve problems, squash bugs, and build the best products.
        </p>
      </div>
      <div class="careers-values-card">
        <img height='230px' class='mb-5'  src="/img/{{ .Site.Params.drive_sloth }}" alt="Drive illustration">
        <h3 class="h-3-blue">Drive</h3>
        <p>
          Hard work requires sacrifice. We are willing to go the distance to ensure the success of our projects, our community, and our employees.
        </p>
      </div>

    </div>
  </div>
  <div class="py-5">
    <div class="px-5">
        <h2 class="h-2-blue-center">Culture & benefits</h2>
        <p class="p-center">Our culture is more than what we do, it's who we are.</p>
    </div>
    <div class="careers-culture-cards">
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.covered }}" alt="Health coverage illustration">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Covered</h5>
            <p>
              Our people are our most important asset. That’s why we offer 100% employer-paid health insurance (medical, dental & vision).
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.inclusive }}" alt="Inclusive illustration">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Inclusive</h5>
            <p>
              We are committed to creating and maintaining a diverse environment that is friendly to all, including families of all shapes and sizes. We offer 16 weeks paid leave for new mothers, 10 weeks for new fathers, and 10 weeks for adoptive/foster parents.            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.flexible }}" alt="Flexible schedule illustration">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Flexible</h5>
            <p>
              We offer flexible hours and remote opportunities so that our employees can build a schedule that works for them. We also offer unlimited vacation so they can relax, unwind, and explore.
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-img-container">
            <img src="/img/{{ .Site.Params.learning_and_growing }}" alt="Professional development illustration">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-5">Learning & growing</h5>
            <p>
              Knowledge drives innovation. From attending industry conferences to becoming inspirational leaders, we support our employees in their efforts to grow their skills.
           </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-fed">
            <img src="/img/{{ .Site.Params.fed }}" alt="Snacks illustration">
          </div>
          <div class='careers-culture-content'>
            <h5 class="h-5-green mt-5 pt-4">Fed</h5>
            <p>
              Our snack bar is filled with healthy  goodies, delicious coffee, and all-you-can-drink La Croix.
            </p>
          </div>
        </div>
        <div class="careers-culture-card">
          <div class="careers-culture-fit">
            <img src="/img/{{ .Site.Params.fit }}" alt="Fitness illustration">
          </div>
          <div class='careers-culture-content mt-5 pt-1'>
            <h5 class="h-5-green mt-5 pt-5">Fit</h5>
            <p>
              We offer fitness rewards, a discounted gym membership, and a new Fitbit for every employee.
            </p>
          </div>
        </div>

    </div>
  </div>
  <div class="careers-positions py-5" id="openings">
    <div class="careers-positions-header mt-5">
      <h2 class="h-2-blue-center mb-4">Available positions</h2>
      <!--
      <div class="careers-positions-categories">
        <div class="career-categories-container">
          <div class="careers-positions-category p-blue category-active">All</div>
          <div class="careers-positions-category p-blue">Engineering</div>
          <div class="careers-positions-category p-blue">Design</div>
          <div class="careers-positions-category p-blue">Operations</div>
          <div class="careers-positions-category p-blue">Other</div>
        </div>
      </div>
      -->
    </div>

    <div id="recruitee-careers"></div>
    <script type="text/javascript" src="https://d10zminp1cyta8.cloudfront.net/widget.js"></script>
    <script type="text/javascript">
     var widget = new RTWidget({
         "companies": [
             27743
         ],
         "detailsMode": "popup",
         "language": "en",
         "departmentsFilter": [],
         "themeVars": {
             "primary": "#3c5f8d",
             "secondary": "#102445",
             "text": "#102445",
             "textDark": "#102445",
             "fontFamily": "\"Helvetica Neue\", Helvetica, Arial, \"Lucida Grande\", sans-serif;",
             "baseFontSize": "16px"
         },
         "flags": {
             "showLocation": true,
             "showCountry": false,
             "showCity": true,
             "groupByLocation": false,
             "groupByDepartment": false,
             "groupByCompany": false
         }
     });
    </script>


    <div class="careers-positions-cards">
      <!--
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Operations</h6>
        <h3 class="h-3-blue"><a href="https://pilosa.recruiterbox.com/jobs/fk0mt5h">Community Manager</a></h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue"><a href="https://pilosa.recruiterbox.com/jobs/fk0moy7">Developer Advocate</a></h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      <div class="careers-positions-card p-4">
        <h6 class="h-6-caps">Engineering</h6>
        <h3 class="h-3-blue">Job Title</h3>
        <p class="careers-positions-card-text">Austin, TX</p>
      </div>
      -->

    </div>
  </div>

  <div class="careers-cta">
    <div class="careers-cta-container">
      <!--
      <h3 class="h-3-blue-center">Don't see your position?</h3>
      <p class="careers-cta-text mb-4">
        We're always looking for talented applicants. Slothware enthusiasts welcome.
      </p>
      <a href="/about/#contact" class='btn-pilosa btn btn-success'>
        Get in touch
      </a>
      -->
      <!--
      <h3 class="h-3-blue-center">Positions coming soon to Austin, TX and San Francisco, CA!</h3>
      <p class="careers-cta-text mb-4">
        We're always looking for talented applicants! Slothware enthusiasts welcome.
      </p>
      -->
      <a href="/about/#contact" class='btn-pilosa btn btn-success'>
        Get in touch
      </a>
    </div>
  </div>
  <div class="careers-community ">
    <div class="careers-community-header ">
      <h2 class="h-2-blue-responsive mb-4 ">Community</h2>
      <p>
        Pilosa was born and bred in Austin, TX. Since Pilosa is written in Go, it's only natural that we support the <a href="https://www.meetup.com/atxgolang/">Austin Golang User Group.</a>
      </p>
      <p>
        If you're looking for speakers, sponsors, or support, <a href="http://localhost:1313/about/#contact">let us know!</a> We're committed to giving back to our hometown by promoting diversity in the Austin tech community.
      </p>
    </div>
    <!--
    <div class="careers-community-orgs">
        <img src="//placehold.it/264x57" alt="">
        <img src="//placehold.it/166x67" alt="">
    </div>
    -->
  </div>
</div>
{{ partial "footer.html" . }}
