{{ partial "header.html" . }}
<div class="page-container">

  <div  class='community-hero '>
    <div class="container pt-5 mt-3">
      <div class="row">
        <div class="community-hero-content ">
          <div class='pb-5 mb-5 mx-3'>

              <h2 class="h-2-white-responsive mb-5 ">Our Community.<br/> Let's hang.</h2>
              <!--<a class="btn-pilosa btn btn-success" href="/community/code-of-conduct/" role="button">Community Code of Conduct</a>-->
            <a class="btn-pilosa btn btn-danger" href="/docs/installation/" role="button">Install Pilosa</a>
          </div>


            <img class='community-hero-img' src="/img/{{ .Site.Params.splash_community }}" alt="Community splash illustration">

        </div>
      </div>
    </div>
  </div>

    <div id="slothparty" class="community-slothparty py-5 ">
      <div class="container ">
        <div class="row align-items-center">
        <div  class="col-lg col-md d-flex justify-content-start">
          <div class="community-slothparty-grid">
            <div class="community-slothparty-card community-slothparty-card1">
              <div class="community-slothparty-icon-container  mb-5">
                  <a href="https://github.com/pilosa/pilosa/releases"><img src="/img/icon-gears.png" alt="Gears icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">New Features</h5>
              <p>Check out some of our latest patches.</p>
            </div>
            <div class="community-slothparty-card community-slothparty-card2">
              <div class="community-slothparty-icon-container my-4">
                  <a href="/docs/latest/tutorials/"><img src="/img/icon-bookmark.png" alt="Bookmark icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">Tutorials</h5>
              <p>Learn a few new tricks of the trade.</p>
            </div>
            <div class="community-slothparty-card community-slothparty-card3">
              <div class="community-slothparty-icon-container my-4">
                  <a href="/pdf/PILOSA%20-%20Technical%20White%20Paper.pdf"><img src="/img/icon-grid.png" alt="Grid icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">White Paper</h5>
              <p>Download our technical white paper here.</p>
            </div>
            <div class="community-slothparty-card community-slothparty-card4">
              <div class="community-slothparty-icon-container my-4">
                <a href="/about/#contact"><img src="/img/icon-gift.png" alt="Gift icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">Send Me Swag</h5>
              <p>As a thanks for being part of our community, we'd love to send you some swag. Please enter your address into the body of our Contact Us form.</p>
            </div>
          </div>
        </div>
        <div class="community-slothparty-heading col-md-4 mb-5">

          <h2 class="h-2-blue mb-4">Sloth Party</h2>
          <p class="pr-5">
            Being part of our community means being part of our family.
          </p>
        </div>
      </div>
      </div>
    </div>

    <div class="community-events">
      <div class="communty-events-header   mb-5">
        <h2 id="events" class="h-2-blue mb-4">Upcoming Events</h2>
        <p >
          Sloths are solitary creatures. We, however, are not. If you are going to be at one of these events, please look us up.
        </p>
      </div>
      <div class='community-events-content'>
        <div class="community-events-cards">
            <div class="community-events-cards-container">
              <!--
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">OSCON</h5>
                <h6 class="h-6-caps">May 8th-11th, 2017</h6>
                <p>Find us at OSCON to talk all things open source with the world premiere of Pilosa!</p>
                <a href="https://conferences.oreilly.com/oscon/oscon-tx">Get tickets</a>
              </div>
              -->
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">Austin Go Meetup</h5>
                <h6 class="h-6-caps">Third Wednesday of most months</h6>
                <p>Our very own Cody Soyland is one of the organizers of the Austin Go Language User Group. Come say hi at the next meeting!</p>
                <a href="https://www.meetup.com/atxgolang/">Find the next meetup</a>
              </div>
              <div class="community-events-card">
                <h5 class="h-5-green mb-4">Gophercon</h5>
                <h6 class="h-6-caps">August 27th-30th, 2018</h6>
                <p>Pilosa was written in Go.  Of course we will be at Gophercon.</p>
                <a href="https://gophercon.com/">Get tickets</a>
              </div>
            </div>
        </div>
      </div>
    </div>



    <div id="support" class="community-support py-5 ">
      <div class="container ">
        <div class="row align-items-center">
        <div class="col-md-4 mb-5">

          <h2 class="h-2-blue mb-4">Get Support</h2>
          <p class="pr-5">
            Feeling a little lost? Have a look at some of these resources, but don’t hesitate to shoot us an email if you can’t find what you’re looking for.
          </p>
        </div>
        <div  class="col-lg col-md d-flex justify-content-start">
          <div class="community-support-grid">
            <div class="community-support-card community-support-card1">
              <div class="community-support-icon-container  mb-5">
                  <a href="https://github.com/pilosa/"><img src="/img/{{ .Site.Params.github }}" alt="Github icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">GitHub</h5>
              <p>Use the source, Luke.</p>
            </div>
            <div class="community-support-card community-support-card2">
              <div class="community-support-icon-container my-4">
                  <a href="/about/#contact"><img src="/img/{{ .Site.Params.mail }}" alt="Contact icon" width="80"></a>
              </div>
              <h5 class="h-5-blue mb-3">Contact Us</h5>
              <p>We love hearing from you.  If you cannot find it in the docs, let us know!</p>
            </div>
            <div class="community-support-card community-support-card3">
              <div class="community-support-icon-container my-4">
                  <a href="https://groups.google.com/forum/#!forum/pilosa"><img src="/img/{{ .Site.Params.google_groups }}" alt="Mailing list icon" width="80"></a>
              </div>
              <h5 class="h-5-blue mb-3">Mailing List</h5>
              <p>Join our Google Group to discuss Pilosa.</p>
            </div>
            <div class="community-support-card community-support-card4">
              <div class="community-support-icon-container my-4">
                <a href="https://invite.slack.golangbridge.org/"><img src="/img/{{ .Site.Params.slack }}" alt="Slack icon"></a>
              </div>
              <h5 class="h-5-blue mb-3">Slack</h5>
              <p>Join our Slack channel (#pilosa) on the Go community Slack team.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  <div class="community-contribute ">
    <h2 style='text-align: center' class='h-2-blue-responsive mb-4'>Contributing to Pilosa</h2>
    <p class="community-contribute-text mb-4">
      We are an open source company, so we always welcome contributions from the community. Please read our guidelines for contributing to Pilosa.
    </p>
    <div>
        <!--<button type="button" class="btn-pilosa btn btn-primary m-2">Contribution Docs</button>-->
      <a href="https://github.com/pilosa/pilosa/blob/master/CONTRIBUTING.md" class="btn-pilosa btn btn-primary m-2">View Contribution Guidelines</a>
      <a class="btn-pilosa btn btn-success" href="/community/code-of-conduct/" role="button">Community Code of Conduct</a>
    </div>
  </div>

    <div class="community-social py-5">
      <h3 class="h-3-blue mb-4">Get social</h3>
      <div class="community-social-btns">
        <a href="{{ .Site.Params.twitter_url }}">
          <img src="/img/{{ .Site.Params.twitter }}" alt="Twitter icon">
        </a>
        <a href="{{ .Site.Params.linkedin_url }}">
          <img src="/img/{{ .Site.Params.linkedin }}" alt="Linkedin icon">
        </a>
        <a href="{{ .Site.Params.facebook_url }}">
          <img src="/img/{{ .Site.Params.fb }}" alt="Facebook icon">
        </a>
      </div>
    </div>

    <!--
    <div class="get-more-container-light">
      <div class="container py-5">
        <div class="get-more-content align-items-center">
          <div class="col">
            <h2 class="h-2-blue">
              Get even more from Pilosa
            </h2>
            <p class="get-more-text">
              Stay updated on industry news, community events, and upcoming projects.
          </div>
          <form class="col-lg" action='//pilosa.us15.list-manage.com/subscribe/post?u=804d9b2d65c9213cfa08eb7c3&amp;id=12e90aaa9a' method='POST'>
            <input class='input-light' type="email" name='EMAIL' placeholder="Your email">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="btn-pilosa btn btn-success ">Sign up</button>
          </form>
        </div>
      </div>
    </div>
    -->
</div>
{{ partial "footer.html" . }}
