<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ "/docs/introduction/" | absURL }}">
        <script type="text/javascript">
            window.location.href = "{{ "/docs/introduction/" | absURL }}"
        </script>
        <title>Page Redirection</title>
        {{ with .Site.Params.inc.analytics.googleid }}
          {{ partial "_google-analytics.html" . }}
        {{ end }}
    </head>
    <body>
        If you are not redirected automatically, follow <a href='{{ "/docs/introduction/" | absURL }}'>this link</a>.
    </body>
</html>
