{{ partial "header.html" . }}
<div class="page-container">

  <div  class='enterprise-hero'>
    <div class="container">
      <div class="row  justify-content-start ">
        <div class="col-lg-6 col-11  ml-4  py-5 my-4">
          <h1 class='h-2-white-responsive mb-5 enterprise-hero-header'>You asked, we delivered.</h1>
          <p class='enterprise-hero-text'>
          We are thrilled to announce our Enterprise Edition, which will launch June 1st, 2018!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div  class='enterprise-preview'>
    <div class="container ">
      <div class="enterprise-preview-blurb row justify-content-center py-5">
        <div class="col-lg-12 col-11 py-5">
          <p class='mb-5'>
            Pilosa strives to make collaboration and innovation  simple. When members within our community requested additional support and security through an Enterprise Edition, we were happy to provide it. Along the way, we developed additional Enterprise-level features that will blow you away!
          </p>
          <p>
              Our core technology is and always will be free and open to the public as the <a href="/community/">Pilosa Community Edition</a>.
          </p>
        </div>
      </div>
    </div>
  <div  class="enterprise-curious-container">
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="enterprise-curious-button">
            <a class="btn-pilosa btn btn-primary" href="/about/#contact" role="button">Contact Us</a>
        </div>
        <div class="enterprise-curious-blurb">
            Too curious? Let’s set up a time to discuss what our Enterprise offering will include and determine if it’s the right fit for your business.
        </div>
      </div>
    </div>
  </div>


    <!--
  <div  class='enterprise-products-container'>
    <div class="container ">
      <div class="enterprise-products enterprise-products-offset">

        <div class="enterprise-product-container mt-5">
          <div class="enterprise-product-card enterprise-ce ">
            <div class="enterprise-img-offset-ce">
              <img  src="/img/{{ .Site.Params.ce }}" alt="Community edition illustration">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white-responsive mb-4">Community Edition</h3>
              <p >
                Built and maintained by the Pilosa community, PilosaCE is an open distributed bitmap index that dramatically accelerates queries across multiple, massive data sets.
              </p>
            </div>
            <div class="enterprise-features">

              <div  class='enterprise-feature'>
                <i  class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Apache License, Version 2.0
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Client Libraries
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Import API
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Unlimited Nodes
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Native Query Language
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Plugin Capability
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Range Queries
                </span>
              </div>

              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>
              <div class='enterprise-nonfeature'></div>

            </div>
          </div>
          <div class="mx-5 mt-3">
            <a class="btn-pilosa btn btn-success" href="/docs/installation/" role="button">Install Now</a>
          </div>
        </div>

        <div class="enterprise-product-container mt-5">
          <div class="enterprise-product-card enterprise-le ">
            <div class="enterprise-img-offset-le">
              <img  src="/img/{{ .Site.Params.le }}" alt="Lighthouse edition illustration">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white-responsive mb-4">Lighthouse Edition</h3>
              <p >
                Pilosa Lighthouse Edition allows you to fully leverage all of the Pilosa Enterprise Edition features with limited support during a 3-month trial period.
              </p>
            </div>
            <div class="enterprise-features">

              <div  class='enterprise-feature'>
                <i  class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                    Enterprise License
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Client Libraries
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Import API
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Unlimited Nodes
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Native Query Language
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Plugin Capability
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Range Queries
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Administration Tools
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Authentication
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Node Management
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Backup Scheduling*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Backup Restore*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Snapshots Management*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Algorithm Library Management*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  CI/CD Workflow Integration*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Machine Metrics Dashboard
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  CPU Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Disk Usage Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  File Handling Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Garbage Collection Metrics
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  RAM Metrics*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Data Metrics Dashboard
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Slice Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Query Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Bit Set Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Column &amp; Row Metrics
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Attribute Metrics*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Cache Utilization Metrics*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Data Repair Metrics*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Support
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Limited Support
                </span>
              </div>

            </div>
          </div>
          <div class="mx-5 mt-3">
            <a class="btn-pilosa btn btn-primary" href="/about/#contact" role="button">Contact Us</a>
          </div>
        </div>

        <div class="enterprise-product-container mt-5 mb-4">
          <div class="enterprise-product-card enterprise-ee ">
            <div class="enterprise-img-offset-ee">
              <img  src="/img/{{ .Site.Params.ee }}" alt="Enterprise edition illustration">
            </div>
            <div class="enterprise-product-header mb-5">

              <h3 class="h-2-white-responsive mb-4">Enterprise Edition</h3>

              <p >
                PilosaEE automates the staging of enterprise data for real-time retrievability &amp; consumption, greatly reducing the time DataOps spends preparing it.
              </p>
            </div>
            <div class="enterprise-features">

              <div  class='enterprise-feature'>
                <i  class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                    Enterprise License
                </span>
              </div>
              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Client Libraries
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Import API
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Unlimited Nodes
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Native Query Language
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Plugin Capability
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Range Queries
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Administration Tools
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Authentication
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Node Management
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Backup Scheduling*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Backup Restore*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Snapshots Management*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Algorithm Library Management*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  CI/CD Workflow Integration*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Machine Metrics Dashboard
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  CPU Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Disk Usage Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  File Handling Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Garbage Collection Metrics
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  RAM Metrics*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Data Metrics Dashboard
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Slice Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Query Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Bit Set Metrics
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Column &amp; Row Metrics
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Attribute Metrics*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Cache Utilization Metrics*
                </span>
              </div>

              <div class='enterprise-feature upcoming'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Data Repair Metrics*
                </span>
              </div>

              <div class='enterprise-feature-heading'>
                <span class="body-bold-white">
                  Support
                </span>
              </div>

              <div class='enterprise-feature'>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="body-bold-white">
                  Enterprise Support
                </span>
              </div>

            </div>
          </div>
          <div class="px-5 mt-3 d-flex flex-column align-items-center">
            <a class="btn-pilosa btn btn-primary" href="/about/#contact" role="button">Contact Us</a>

            <p class='body-center mt-4 mx-4'>
              <b>Enterprise Edition</b> coming soon! <a href="/about/#contact">Contact us</a> for more details.
            </p>
          </div>

      </div>

      <div class="body-center col-8">
          <i>*This feature is coming soon. Stay tuned!</i><br/><br/>

          Pilosa Community Edition is licensed under the Apache License, Version 2.0.  Pilosa Enterprise Edition is licensed under <a href="/legal/enterprise-license/">Enterprise Software and Support Terms and Conditions</a>.
      </div>

      </div>
    </div>
  </div>

            -->

</div>



{{ partial "footer.html" . }}
