{{ partial "header.html" . }}

<div class="page-container">


  <div class="uc-hero">
    <div class="uc-hero-overlay"></div>
    <div class="uc-hero-header">
      <p class="resonsive-text-white mb-4">In action</p>
      <p class="uc-hero-text">
        Pilosa was first used to power lightning fast segmentation queries from a massive, disparate data set. Along the way we realized its implications far exceeded our initial use case.
      </p>
      <a href="/pdf/PILOSA%20-%20Technical%20White%20Paper.pdf" role="button" class="btn-pilosa btn btn-success mt-4">Download our whitepaper</a>
    </div>
    <div class="uc-hero-overlay"></div>
  </div>

  <div class="use-cases-container ">
    <div  class=" py-5 ">

      <div class="use-cases-cards">

        <a href="/use-cases/chemical-similarity-and-the-tanimoto-algorithm/" class="use-cases-card-a unstyled-a" style="display:block">
        <div  class="use-cases-card">

          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_bioinformatics }}" alt="abstract logo" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
                Chemical Similarity and the Tanimoto Algorithm
            </h3>


          <h6 class="h-6-caps">Bioinformatics</h6>

          <p >
            Chemical similarity is essential to pharmaceutical development. Running Tanimoto algorithms over Pilosa clusters allows researchers to conduct exhaustive searches of existing structures to identify target chemicals, accelerating drug development.
          </p>
          <div  class="use-cases-card-arrow ">
            &rarr;
          </div>

        </div>
        </a>

        <a href="/use-cases/monitoring-network-traffic/" class="use-cases-card-a unstyled-a" style="display:block">
        <div class="use-cases-card">
          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_info_security }}" alt="abstract logo" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
              Monitoring Network Traffic
            </h3>

          <h6 class="h-6-caps">Network Security</h6>
          <p >
            Modern network attacks require an increasingly complex infrastructure of intrusion prevention, creating datastores which grow exponentially. Layering Pilosa atop existing security solutions allows us to analyze high-volume network data and even predict network intrusions.
          </p>
          <div class="use-cases-card-arrow">
            &rarr;
          </div>
        </div>
        </a>

        <a href="/use-cases/taming-transportation-data/" class="use-cases-card-a unstyled-a" style="display:block">
        <div class="use-cases-card">

          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_smart_cities }}" alt="abstract logo" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
              Taming Transportation Data
            </h3>

          <h6 class="h-6-caps">Smart Cities</h6>
          <p >
            Transportation systems are vital to economic networks but produce massive amounts of data that are difficult to analyze. Using New York City taxi data, we harnessed Pilosa's ability to work across datastores while supporting granular attributes.
          </p>
          <div class="use-cases-card-arrow">
            &rarr;
          </div>

        </div>
        </a>

        <a href="/use-cases/understanding-fans-at-umbel/" class="use-cases-card-a unstyled-a" style="display:block">
        <div class="use-cases-card">
          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_audience_segmentation }}" alt="abstract logo" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
                Understanding Fans at Umbel
            </h3>

          <h6 class="h-6-caps">Audience Segmentation</h6>
          <p >
            Umbel is where Pilosa’s journey began. See how the Umbel platform uses Pilosa to create highly-specific customer segments, allowing clients to personalize their messaging and increase revenue with data-driven, targeted campaigns.
          </p>
          <div class="use-cases-card-arrow">
            &rarr;
          </div>
        </div>
        </a>

        <a href="/use-cases/retail-analytics/" class="use-cases-card-a unstyled-a" style="display:block">
        <div  class="use-cases-card">

          <div class="use-cases-card-img">
            <div class="use-cases-icon-container">
              <img src="/img/{{ .Site.Params.use_case_icon_star_schema }}" alt="abstract logo" >
            </div>
          </div>

            <h3 class="h-3-bold-green">
                Retail Analytics and the Star Schema Benchmark
            </h3>


          <h6 class="h-6-caps">Retail Analytics</h6>

          <p >
              Retail transactions produce huge volumes of data, and only fast queries can pull value out this mess of data. We used Pilosa to explore the well-known Star Schema Benchmark, producing impressive performance numbers in the process.
          </p>
          <div  class="use-cases-card-arrow ">
            &rarr;
          </div>

        </div>
        </a>


      <div class="use-cases-button">


          <!--
      <div class="pagination-container">
        <div class="page-icon ml-3">
          <a href="">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </div>
        <div class="pagination-numbers">
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">5</a>
          <a href="">6</a>
        </div>
        <div class="page-icon mr-3">
          <a href="">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
          -->

      </div>
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
